%p On this page you will see a list of hosts (housing providers) each with a list of their open spaces, beds, floor space, and tent space.

%h3 How to match a guest with host

%p Find a host and select a space to place a guest in, then press the "Place a guest in..." button to add a guest to that area. Once you press that button a popup will appear showing you extended details on the host and a list of guests with details. Take a look at the notes section for both the host and the guest to determine if the two will make a good match but also pay attention to the colour of the row:

.legend
  %h4 Legend
  %ul
    %li.good-match Good Match
    %li.bad-match Poor Match
    %li.selected-space Also in this space
    %li.other-space Also with this host
    %li.other-host Already hosted

%h3 Dealing with poor matches

%p A poor match can happen for several reasons:
%ul
  %li A host space may not be available for the entire time that a guest wishes to stay
  %li A guest may be placed in a space (bed, floor, or tent) which is not their preferred space
  %li A guest may be placed in a space without their companion
  %li A host may have more guests than they indicated as their maximum

%p When a match is likely good, you will see a &#x1F601; beside their placement, when a match is poor you will see a &#x1F621;. If you see the unhappy face, you can hover over the face to show more details on why the guest or host is unhappy.

%p You may wish to remove the guest and fin a better placement but keep in mind that this will not always be possible. For example, often guests will ask to be placed with many other friends but arranging this can be difficult. Speak with guests and hosts if possible to arrange a compromise, it is generally encouraged that guests stay with new people as long as they feel safe.

%h3 Notifying hosts and guests of their placements

%p At the moment there is no automated tool to do this for you. You will need to download the excel speadsheet at the bottom of the page to get all placements and their contact info.
