- # encoding: utf-8
%ul.workshop-previews
	- workshops.sort_by{ |w| w.title.downcase }.each do |w|
		- if w.title
			%li
				=link_to view_workshop_path(@this_conference.slug, w.id) do
					%h4=_!(w.title)
					%p=_!(w.info || '').gsub(/\n\#+(.*?)\r/, "\n<strong>\\1</strong>\r").gsub(/[\t ]*\r\n[\t ]*/, '<br>').html_safe
