%ul.workshop-list
	- workshops.sort_by{ |w| w.title.downcase }.each do |w|
		- is_interested = w.interested?(current_user)
		%li{class: [is_interested ? :interested : nil]}
			= link_to view_workshop_path(w.conference.slug, w.id), class: 'workshop-link' do
				%h4.title=w.title
			.workshop-interest
				- if is_interested
					=_'articles.workshops.info.you_are_interested_count', "You and #{w.interested_count - 1} others are interested in this workshop", :vars => {:count => (w.interested_count - 1)}
				- elsif w.interested_count > 0
					=_'articles.workshops.info.interested_count', "#{w.interested_count} people are interested in this workshop", :vars => {:count => w.interested_count}
			.workshop-description=w.info.html_safe
