- add_inline_script :housing
= form_tag administration_update_path(@this_conference.slug, :housing), id: 'housing-table-form' do
	#housing-table= render partial: 'conferences/admin/hosts_table'
#guest-selector
	= form_tag administration_update_path(@this_conference.slug, :housing), class: 'guest-dlg', id: 'guest-list-table' do
		%h3 Select a Guest
		#table
