/*!CK:840576157!*//*1395021162,178158925*/

._gxb{position:relative}._3r8x._52nd,._gxb:hover ._5859,._gxa._52nd{opacity:1;visibility:visible}
._4q1{padding:10px}
._4q3{display:block;position:relative}._4q4{display:block;line-height:0}._5ok:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_tKv6W { height: 42px; }
.bootloader_tKv6W { display:block !important; }