/*!CK:2619840651!*//*1424144399,*/

._19hh{margin-left:2px;padding-top:8px}
._3eal{width:1080px}._5el9{width:800px}._66{float:left;width:400px}
._4i7y{padding:10px}._4i7z{padding:10px;position:fixed;right:0;top:44px}
._3dh4{margin:5px 5px;max-width:350px;min-width:275px;position:relative}._4fy8{height:180px}._3dh5{max-height:150px;min-height:100px}._3dh6{background-color:#fff;-webkit-border-radius:3px;position:absolute;right:3px;top:15px;z-index:99}

#bootloader_KKPGH { height: 42px; }
.bootloader_KKPGH { display:block !important; }