/*
 *	../translations
 *	Browser: Chrome 27 (approximately 0.03% of all users)
 *
 */

$browser: chrome;
$browser_prefix: webkit;
$browser_version: 27;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": y,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"devicepixelratio": y,
	"transforms3d": yx,
	"sharedworkers": y,
	"css-hyphens": n,
	"css-transitions": y,
	"font-feature": yx,
	"css-animation": yx,
	"css-gradients": y,
	"css-canvas": yx,
	"css-reflections": yx,
	"css-masks": ax,
	"console-basic": y,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": y,
	"online-status": y,
	"eventsource": y,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": y,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": yx,
	"webgl": y,
	"fileapi": a,
	"shadowdom": yx,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"mediasource": y,
	"cors": y,
	"css-backdrop-filter": n,
	"calc": y,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": y,
	"mpeg4": y,
	"ogv": y,
	"wordwrap": y,
	"pointerlock": yx,
	"object-fit": n,
	"xhr2": a,
	"minmaxwh": y,
	"details": y,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": y,
	"stream": ax,
	"svg-img": a,
	"datalist": a,
	"dataset": y,
	"css-grid": p,
	"menu": n,
	"css-zoom": y,
	"rem": y,
	"ttf": y,
	"touch": y,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": yx,
	"bloburls": y,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": yx,
	"css-regions": nd,
	"spellcheck-attribute": y,
	"fullscreen": ax,
	"css-exclusions": n,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": y,
	"input-color": y,
	"input-number": y,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": y,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": y,
	"css-filters": yx,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": a,
	"viewport-units": y,
	"contentsecuritypolicy": y,
	"pagevisibility": yx,
	"stricttransportsecurity": y,
	"style-scoped": nd,
	"svg-fragment": n,
	"outline": y,
	"download": y,
	"pointer": p,
	"user-select-none": yx,
	"webp": y,
	"input-autocomplete-onoff": a,
	"intrinsic-width": yx,
	"cryptography": p,
	"template": y,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": a,
	"mutationobserver": y,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": ax,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": yx,
	"css3-cursors": y,
	"css3-cursors-newer": yx,
	"webvtt": y,
	"promises": p,
	"css-sticky": nd,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": ax,
	"high-resolution-time": y,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": nxd,
	"iframe-srcdoc": y,
	"speech-synthesis": n,
	"user-timing": y,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": y,
	"custom-elements": nd,
	"imports": n,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": y,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": y,
	"css-clip-path": ax,
	"getrandomvalues": y,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": y,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": a,
	"css-image-set": yx,
	"css-boxdecorationbreak": ax,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"css-logical-props": ax,
	"fetch": n,
	"referrer-policy": y,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": y,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": ax,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": y,
	"page-transition-events": y,
	"ogg-vorbis": y,
	"meter": y,
	"progress": y,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": y,
	"link-rel-prefetch": y,
	"ol-reversed": y,
	"css-first-letter": y,
	"wbr-element": y,
	"css-all": n,
	"css-initial-value": y,
	"css-letter-spacing": a,
	"css-unset-value": n,
	"insertadjacenthtml": y,
	"let": nd,
	"arrow-functions": n,
	"link-rel-prerender": y,
	"rest-parameters": n,
	"css-cross-fade": yx,
	"css-writing-mode": yx,
	"customevent": y,
	"textcontent": y,
	"addeventlistener": y,
	"documenthead": y,
	"innertext": y,
	"netinfo": n,
	"setimmediate": n
);

@import "bumbleberry-settings";
@import "../translations";
