/*
 *	../translations
 *	Browser: Chrome 13 (approximately 0.01% of all users)
 *
 */

$browser: chrome;
$browser_prefix: webkit;
$browser_version: 13;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": a,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"devicepixelratio": y,
	"transforms3d": yx,
	"sharedworkers": y,
	"css-hyphens": n,
	"css-transitions": yx,
	"font-feature": n,
	"css-animation": yx,
	"css-gradients": yx,
	"css-canvas": yx,
	"css-reflections": yx,
	"css-masks": ax,
	"console-basic": y,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": ax,
	"online-status": n,
	"eventsource": y,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": y,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": ax,
	"webgl": a,
	"fileapi": a,
	"shadowdom": n,
	"websockets": a,
	"hidden": y,
	"script-async": y,
	"mediasource": n,
	"cors": y,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": a,
	"text-overflow": y,
	"webm": a,
	"mpeg4": y,
	"ogv": y,
	"wordwrap": a,
	"progressmeter": y,
	"object-fit": n,
	"xhr2": a,
	"minmaxwh": y,
	"details": y,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": ax,
	"stream": n,
	"svg-img": a,
	"datalist": p,
	"dataset": y,
	"css-grid": n,
	"menu": n,
	"css-zoom": y,
	"rem": y,
	"ttf": y,
	"touch": n,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": ax,
	"filereader": y,
	"filesystem": yx,
	"bloburls": yx,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": yx,
	"css-regions": n,
	"spellcheck-attribute": y,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": ax,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": n,
	"input-color": n,
	"input-number": y,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": y,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": yx,
	"css-filters": n,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": a,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": n,
	"user-select-none": yx,
	"webp": a,
	"input-autocomplete-onoff": n,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": y,
	"css3-cursors-newer": yx,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": y,
	"css-clip-path": n,
	"getrandomvalues": y,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"css-logical-props": ax,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": y,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": ax,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": u,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": a
);

@import "bumbleberry-settings";
@import "../translations";
