/*
 *	../translations
 *	Browser: Chrome 4 (approximately 0.01% of all users)
 *
 */

$browser: chrome;
$browser_prefix: webkit;
$browser_version: 4;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": a,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": n,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": a,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": p,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": yx,
	"css3-colors": y,
	"css3-boxsizing": yx,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": yx,
	"transforms2d": yx,
	"use-strict": n,
	"devicepixelratio": y,
	"transforms3d": n,
	"sharedworkers": y,
	"css-hyphens": n,
	"css-transitions": yx,
	"font-feature": n,
	"css-animation": yx,
	"css-gradients": ax,
	"css-canvas": yx,
	"css-reflections": yx,
	"css-masks": ax,
	"console-basic": y,
	"svg": y,
	"svg-css": a,
	"svg-smil": a,
	"svg-fonts": y,
	"svg-filters": n,
	"svg-html": a,
	"svg-html5": p,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": p,
	"online-status": n,
	"eventsource": n,
	"x-doc-messaging": y,
	"sni": n,
	"datauri": y,
	"wav": n,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": a,
	"flexbox": ax,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": a,
	"hidden": n,
	"script-async": n,
	"mediasource": n,
	"cors": a,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": y,
	"ruby": p,
	"css-opacity": y,
	"form-validation": n,
	"history": n,
	"json": y,
	"classlist": p,
	"text-overflow": y,
	"webm": n,
	"mpeg4": y,
	"ogv": y,
	"wordwrap": a,
	"progressmeter": n,
	"object-fit": n,
	"xhr2": u,
	"minmaxwh": y,
	"details": p,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": a,
	"datalist": p,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"css-zoom": y,
	"rem": u,
	"ttf": y,
	"touch": n,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": n,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": u,
	"matchmedia": n,
	"input-datetime": n,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": y,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": a,
	"mp3": y,
	"word-break": a,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": n,
	"user-select-none": u,
	"webp": n,
	"input-autocomplete-onoff": n,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": yx,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"css-logical-props": ax,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": n,
	"fieldset-disabled": u,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": a
);

@import "bumbleberry-settings";
@import "../translations";
