/*
 *	../translations
 *	Browser: Firefox 6 (approximately 0.02% of all users)
 *
 */

$browser: firefox;
$browser_prefix: moz;
$browser_version: 6;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": y,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": yx,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"devicepixelratio": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": yx,
	"css-transitions": yx,
	"font-feature": ax,
	"css-animation": yx,
	"css-gradients": yx,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": a,
	"console-basic": y,
	"svg": y,
	"svg-css": a,
	"svg-smil": y,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": y,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": ax,
	"online-status": a,
	"eventsource": y,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": y,
	"mathml": y,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": ax,
	"webgl": a,
	"fileapi": a,
	"shadowdom": n,
	"websockets": ax,
	"hidden": y,
	"script-async": y,
	"mediasource": n,
	"cors": y,
	"css-backdrop-filter": n,
	"calc": yx,
	"dom-range": y,
	"ruby": p,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": a,
	"text-overflow": p,
	"webm": a,
	"mpeg4": n,
	"ogv": y,
	"wordwrap": a,
	"pointerlock": n,
	"object-fit": n,
	"xhr2": a,
	"minmaxwh": y,
	"details": p,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": a,
	"dataset": y,
	"css-grid": n,
	"menu": n,
	"css-zoom": n,
	"rem": y,
	"ttf": y,
	"touch": a,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": ax,
	"filereader": y,
	"filesystem": n,
	"bloburls": y,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": y,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": ax,
	"input-range": n,
	"matchmedia": y,
	"input-datetime": n,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": a,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": y,
	"input-placeholder": y,
	"spdy": n,
	"css-repeating-gradients": yx,
	"css-filters": a,
	"getcomputedstyle": y,
	"mp3": a,
	"word-break": n,
	"viewport-units": n,
	"contentsecuritypolicy": y,
	"pagevisibility": n,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": p,
	"user-select-none": yx,
	"webp": p,
	"input-autocomplete-onoff": y,
	"intrinsic-width": ax,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": n,
	"css3-tabsize": ax,
	"mutationobserver": n,
	"css-selection": yx,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": y,
	"css3-cursors-newer": yx,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": yx,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": y,
	"css-clip-path": a,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": y,
	"link-icon-png": y,
	"link-icon-svg": a,
	"css-media-resolution": a,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": yx,
	"css-text-align-last": n,
	"css-logical-props": ax,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": a,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": y,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": a,
	"page-transition-events": y,
	"ogg-vorbis": y,
	"meter": n,
	"progress": y,
	"css-filter-function": n,
	"css-element-function": yx,
	"u2f": n,
	"aac": n,
	"link-rel-prefetch": y,
	"ol-reversed": n,
	"css-first-letter": y,
	"wbr-element": y,
	"css-all": n,
	"css-initial-value": n,
	"css-letter-spacing": y,
	"css-unset-value": n,
	"insertadjacenthtml": n,
	"let": nd,
	"link-rel-prerender": n,
	"css-writing-mode": n,
	"addeventlistener": y
);

@import "bumbleberry-settings";
@import "../translations";
