/*
 *	../translations
 *	Browser: IE 5.5 (approximately 0.01% of all users)
 *
 */

$browser: ie;
$browser_prefix: ms;
$browser_version: 5.5;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": n,
	"apng": n,
	"video": n,
	"audio": n,
	"contenteditable": y,
	"dragndrop": a,
	"internationalization": n,
	"queryselector": n,
	"getelementsbyclassname": n,
	"forms": n,
	"html5semantic": n,
	"css-line-clamp": n,
	"offline-apps": n,
	"webworkers": n,
	"fontface": a,
	"eot": n,
	"woff": n,
	"multibackgrounds": n,
	"border-image": n,
	"background-img-opts": n,
	"css-table": n,
	"css-gencontent": n,
	"css-fixed": n,
	"beacon": n,
	"hashchange": p,
	"css-sel2": n,
	"css-sel3": n,
	"css-textshadow": n,
	"css-boxshadow": n,
	"css3-colors": n,
	"css3-boxsizing": p,
	"css-mediaqueries": p,
	"multicolumn": n,
	"border-radius": n,
	"transforms2d": n,
	"use-strict": n,
	"devicepixelratio": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": n,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": n,
	"svg": n,
	"svg-css": n,
	"svg-smil": n,
	"svg-fonts": n,
	"svg-filters": n,
	"svg-html": n,
	"svg-html5": n,
	"canvas": n,
	"canvas-text": n,
	"namevalue-storage": n,
	"sql-storage": n,
	"indexeddb": n,
	"online-status": n,
	"eventsource": n,
	"x-doc-messaging": n,
	"sni": n,
	"datauri": n,
	"wav": n,
	"mathml": n,
	"css-featurequeries": n,
	"xhtml": n,
	"xhtmlsmil": n,
	"wai-aria": n,
	"geolocation": n,
	"flexbox": n,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": n,
	"script-async": n,
	"mediasource": n,
	"cors": n,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": n,
	"ruby": a,
	"css-opacity": a,
	"form-validation": n,
	"history": n,
	"json": n,
	"classlist": p,
	"text-overflow": n,
	"webm": n,
	"mpeg4": n,
	"ogv": n,
	"wordwrap": a,
	"pointerlock": n,
	"object-fit": n,
	"xhr2": n,
	"minmaxwh": p,
	"details": n,
	"text-stroke": n,
	"inline-block": a,
	"notifications": n,
	"stream": n,
	"svg-img": n,
	"datalist": n,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"css-zoom": y,
	"rem": n,
	"ttf": n,
	"touch": n,
	"matchesselector": n,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": a,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": n,
	"matchmedia": n,
	"input-datetime": n,
	"document-execcommand": y,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": a,
	"iframe-sandbox": n,
	"css-counters": n,
	"css-resize": n,
	"input-placeholder": n,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": n,
	"mp3": n,
	"word-break": y,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": n,
	"download": n,
	"pointer": n,
	"user-select-none": n,
	"input-file-accept": n,
	"webp": n,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": n,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": n,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": n,
	"css-placeholder": n,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": n,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": n,
	"css-appearance": n,
	"objectrtc": n,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": n,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": a,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": a,
	"currentcolor": n,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": n,
	"fieldset-disabled": u,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": n,
	"page-transition-events": n,
	"ogg-vorbis": n,
	"meter": n,
	"progress": n,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": n,
	"link-rel-prefetch": n,
	"ol-reversed": n,
	"css-first-letter": u,
	"wbr-element": y,
	"const": n,
	"css-all": n,
	"css-initial-value": n,
	"css-letter-spacing": u,
	"css-unset-value": n,
	"insertadjacenthtml": u,
	"let": n,
	"arrow-functions": n,
	"asmjs": n,
	"lazyload": n,
	"link-rel-dns-prefetch": n,
	"link-rel-prerender": n,
	"rest-parameters": n,
	"css-cross-fade": n,
	"css-writing-mode": a,
	"customevent": n,
	"textcontent": n,
	"addeventlistener": n,
	"dispatchevent": u,
	"documenthead": n,
	"innertext": u,
	"client-hints-dpr-width-viewport": n,
	"link-rel-preconnect": n,
	"netinfo": n,
	"setimmediate": n,
	"es6-number": n,
	"maxlength": u,
	"proxy": n,
	"keyboardevent-which": n,
	"keyboardevent-charcode": n,
	"keyboardevent-code": n,
	"keyboardevent-location": n,
	"keyboardevent-getmodifierstate": n,
	"keyboardevent-key": n,
	"brotli": n,
	"element-closest": n,
	"input-event": n,
	"input-search": n,
	"css-motion-paths": n,
	"css-scroll-behavior": n,
	"subresource-integrity": n,
	"css-in-out-of-range": n,
	"push-api": n,
	"background-position-x-y": y,
	"css-revert-value": n,
	"css-widows-orphans": n,
	"web-bluetooth": n,
	"scrollintoview": n,
	"css-nth-child-of": n,
	"focusin-focusout-events": n,
	"css-matches-pseudo": n,
	"rel-noopener": n,
	"css-text-justify": u,
	"css-scrollbar": a,
	"link-rel-preload": n,
	"css-case-insensitive": n,
	"css-default-pseudo": n,
	"css-optional-pseudo": n,
	"css-indeterminate-pseudo": n,
	"webgl2": n,
	"document-currentscript": n,
	"css-descendant-gtgt": n,
	"css-has": n,
	"css-not-sel-list": n
);

@import "bumbleberry-settings";
@import "../translations";
