/*
 *	../translations
<<<<<<< HEAD
 *	Browser: IE 9.0 (approximately 0.91% of all users)
=======
 *	Browser: IE 9 (approximately 1.0% of all users)
>>>>>>> 8687c10... Removed compiled files
 *
 */

$browser: ie;
$browser_prefix: ms;
$browser_version: 9.0;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": a,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": p,
	"html5semantic": y,
	"offline-apps": n,
	"webworkers": p,
	"fontface": y,
	"eot": y,
	"woff": y,
	"multibackgrounds": y,
	"border-image": n,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": n,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": n,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": n,
	"devicepixelratio": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": n,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": a,
	"svg": y,
	"svg-css": y,
	"svg-smil": p,
	"svg-fonts": n,
	"svg-filters": n,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": n,
	"online-status": y,
	"eventsource": n,
	"x-doc-messaging": a,
	"sni": y,
	"datauri": a,
	"wav": n,
	"mathml": n,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": n,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": n,
	"webgl": p,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": n,
	"script-async": n,
	"mediasource": n,
	"cors": a,
	"css-backdrop-filter": n,
	"calc": a,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": n,
	"history": n,
	"json": y,
	"classlist": p,
	"text-overflow": y,
	"webm": p,
	"mpeg4": y,
	"ogv": p,
	"wordwrap": a,
	"pointerlock": n,
	"object-fit": n,
	"xhr2": n,
	"minmaxwh": y,
	"details": n,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": p,
	"dataset": a,
	"css-grid": p,
	"menu": n,
	"css-zoom": y,
	"rem": a,
	"ttf": a,
	"touch": n,
	"matchesselector": ax,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": a,
	"nav-timing": y,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": n,
	"matchmedia": n,
	"input-datetime": n,
	"document-execcommand": y,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": y,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": n,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": y,
	"viewport-units": a,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": y,
	"download": n,
	"pointer": n,
	"user-select-none": n,
	"input-file-accept": n,
	"webp": n,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": y,
	"channel-messaging": n,
	"css3-tabsize": n,
	"mutationobserver": p,
	"css-selection": y,
	"css-placeholder": n,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": y,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": n,
	"css-appearance": n,
	"objectrtc": n,
	"css-background-offsets": y,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": y,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": a,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": ax,
	"css-text-align-last": a,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": n,
	"fieldset-disabled": a,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": a,
	"page-transition-events": n,
	"ogg-vorbis": n,
	"meter": n,
	"progress": n,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": y,
	"link-rel-prefetch": n,
	"ol-reversed": n,
	"css-first-letter": y,
	"wbr-element": n,
	"const": n,
	"css-all": n,
	"css-initial-value": n,
	"css-letter-spacing": y,
	"css-unset-value": n,
	"insertadjacenthtml": a,
	"let": n,
	"arrow-functions": n,
	"asmjs": n,
	"lazyload": n,
	"link-rel-dns-prefetch": a,
	"link-rel-prerender": n,
	"rest-parameters": n,
	"css-cross-fade": n,
	"css-writing-mode": a,
	"customevent": a,
	"textcontent": y,
	"addeventlistener": y,
	"dispatchevent": y,
	"documenthead": y,
	"innertext": y,
	"client-hints-dpr-width-viewport": n,
	"link-rel-preconnect": n,
	"netinfo": n,
	"setimmediate": n,
	"es6-number": n,
	"maxlength": a,
	"proxy": n,
	"keyboardevent-which": y,
	"keyboardevent-charcode": y,
	"keyboardevent-code": n,
	"keyboardevent-location": y,
	"keyboardevent-getmodifierstate": y,
	"keyboardevent-key": y,
	"brotli": n,
	"element-closest": n,
	"input-event": a,
	"input-search": n,
	"css-motion-paths": n,
	"css-scroll-behavior": n,
<<<<<<< HEAD
	"subresource-integrity": n,
	"push-api": n,
	"background-position-x-y": y
=======
	"subresource-integrity": n
>>>>>>> 8687c10... Removed compiled files
);

@import "bumbleberry-settings";
@import "../translations";
