/*
 *	../translations
 *	Browser: IE TP (approximately 0.0% of all users)
 *
 */

$browser: ie;
$browser_prefix: ms;
$browser_version: TP;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": a,
	"internationalization": y,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": y,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": a,
	"css-mediaqueries": y,
	"multicolumn": y,
	"border-radius": y,
	"transforms2d": y,
	"use-strict": y,
	"transforms3d": y,
	"sharedworkers": n,
	"css-hyphens": yx,
	"css-transitions": y,
	"font-feature": y,
	"css-animation": y,
	"css-gradients": y,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"svg": y,
	"svg-css": y,
	"svg-smil": p,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": a,
	"online-status": y,
	"eventsource": n,
	"x-doc-messaging": a,
	"datauri": a,
	"mathml": n,
	"css-featurequeries": y,
	"xhtml": y,
	"xhtmlsmil": n,
	"wai-aria": y,
	"geolocation": y,
	"flexbox": y,
	"webgl": y,
	"fileapi": y,
	"shadowdom": n,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"cors": y,
	"calc": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": p,
	"mpeg4": y,
	"ogv": p,
	"wordwrap": a,
	"progressmeter": a,
	"object-fit": n,
	"xhr2": y,
	"minmaxwh": y,
	"details": n,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": a,
	"dataset": y,
	"css-grid": ax,
	"menu": n,
	"rem": y,
	"ttf": a,
	"touch": y,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": y,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": y,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": y,
	"css-regions": ax,
	"spellcheck-attribute": y,
	"fullscreen": y,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": n,
	"input-color": n,
	"input-number": a,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": y,
	"css-filters": n,
	"getcomputedstyle": y,
	"word-break": y,
	"viewport-units": a,
	"contentsecuritypolicy": y,
	"pagevisibility": y,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": y,
	"download": n,
	"pointer": y,
	"user-select-none": yx,
	"webp": n,
	"intrinsic-width": n,
	"cryptography": y,
	"template": n,
	"opus": n,
	"jpegxr": y,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": y,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": ax,
	"text-emphasis": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": y,
	"css3-cursors-newer": n,
	"webvtt": y,
	"promises": y,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"web-speech": n,
	"high-resolution-time": y,
	"battery-status": n,
	"serviceworkers": u,
	"text-decoration": n,
	"speech-synthesis": n,
	"user-timing": y,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": y,
	"custom-elements": p,
	"imports": p,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": n,
	"css-background-offsets": y,
	"css-supports-api": y,
	"css-touch-action": y,
	"autofocus": y,
	"css-clip-path": n,
	"getrandomvalues": y,
	"screen-orientation": ax,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": y,
	"css-font-stretch": y,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": a,
	"xml-serializer": y,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"broadcastchannel": n,
	"css-crisp-edges": ax,
	"css-text-align-last": a,
	"fetch": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": n,
	"css-snappoints": ax
);

@import "bumbleberry-settings";
@import "../translations";
