/*
 *	../translations
 *	Browser: IE Mobile 10 (approximately 0.19% of all users)
 *
 */

$browser: ie_mob;
$browser_prefix: ms;
$browser_version: 10;
$browser_type: mobile;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": n,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": y,
	"border-radius": y,
	"transforms2d": y,
	"use-strict": y,
	"devicepixelratio": n,
	"transforms3d": a,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": y,
	"font-feature": n,
	"css-animation": y,
	"css-gradients": y,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": n,
	"svg": y,
	"svg-css": y,
	"svg-smil": p,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": n,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": a,
	"online-status": y,
	"eventsource": n,
	"x-doc-messaging": a,
	"sni": y,
	"datauri": a,
	"wav": n,
	"mathml": n,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": n,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": ax,
	"webgl": p,
	"fileapi": n,
	"shadowdom": n,
	"websockets": y,
	"hidden": n,
	"script-async": y,
	"mediasource": n,
	"cors": a,
	"css-backdrop-filter": n,
	"calc": y,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": a,
	"history": y,
	"json": y,
	"classlist": a,
	"text-overflow": y,
	"webm": p,
	"mpeg4": y,
	"ogv": p,
	"wordwrap": a,
	"progressmeter": a,
	"object-fit": n,
	"xhr2": a,
	"minmaxwh": y,
	"details": n,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": p,
	"dataset": a,
	"css-grid": ax,
	"menu": n,
	"css-zoom": y,
	"rem": y,
	"ttf": a,
	"touch": p,
	"matchesselector": ax,
	"pointer-events": n,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": a,
	"deviceorientation": n,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": n,
	"css-regions": ax,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"css-exclusions": yx,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": n,
	"input-color": n,
	"input-number": a,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": n,
	"css-repeating-gradients": y,
	"css-filters": n,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": y,
	"viewport-units": a,
	"contentsecuritypolicy": a,
	"pagevisibility": y,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": y,
	"download": n,
	"pointer": ax,
	"user-select-none": yx,
	"webp": n,
	"input-autocomplete-onoff": a,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": y,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": p,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": ax,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": y,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": y,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": yx,
	"web-animation": n,
	"resource-timing": y,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": n,
	"css-background-offsets": y,
	"css-supports-api": n,
	"css-touch-action": yx,
	"autofocus": y,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": y,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": a,
	"xml-serializer": y,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": ax,
	"css-text-align-last": a,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": a,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": y,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": y
);

@import "bumbleberry-settings";
@import "../translations";
