/*
 *	../translations
 *	Browser: iOS Safari 8.1 (approximately 5.1% of all users)
 *
 */

$browser: ios_saf;
$browser_prefix: webkit;
$browser_version: 8.1;
$browser_type: mobile;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": y,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": n,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": a,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"transforms3d": yx,
	"sharedworkers": n,
	"css-hyphens": yx,
	"css-transitions": y,
	"font-feature": n,
	"css-animation": yx,
	"css-gradients": y,
	"css-canvas": yx,
	"css-reflections": yx,
	"css-masks": ax,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": a,
	"online-status": y,
	"eventsource": y,
	"x-doc-messaging": y,
	"datauri": y,
	"mathml": y,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": yx,
	"webgl": y,
	"fileapi": y,
	"shadowdom": n,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"cors": y,
	"calc": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": n,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": n,
	"mpeg4": y,
	"ogv": n,
	"wordwrap": y,
	"progressmeter": a,
	"object-fit": a,
	"xhr2": y,
	"minmaxwh": y,
	"details": y,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": p,
	"dataset": y,
	"css-grid": p,
	"menu": n,
	"rem": y,
	"ttf": y,
	"touch": y,
	"matchesselector": y,
	"pointer-events": y,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": y,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": n,
	"audio-api": yx,
	"css-regions": yx,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": y,
	"input-color": n,
	"input-number": a,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": y,
	"css-filters": yx,
	"getcomputedstyle": y,
	"word-break": a,
	"viewport-units": y,
	"contentsecuritypolicy": y,
	"pagevisibility": y,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": y,
	"download": n,
	"pointer": p,
	"user-select-none": yx,
	"webp": n,
	"intrinsic-width": yx,
	"cryptography": yx,
	"template": y,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": y,
	"mutationobserver": y,
	"css-selection": n,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": y,
	"canvas-blending": y,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": y,
	"promises": y,
	"css-sticky": yx,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": y,
	"css-mixblendmode": y,
	"web-speech": ax,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": ax,
	"speech-synthesis": y,
	"user-timing": n,
	"srcset": a,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": yx,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": a,
	"picture": n,
	"woff2": n,
	"text-size-adjust": yx,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": p,
	"imports": p,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": y,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": ax,
	"getrandomvalues": y,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": y,
	"css-image-set": yx,
	"css-boxdecorationbreak": yx,
	"object-observe": n,
	"broadcastchannel": n,
	"css-crisp-edges": yx,
	"css-text-align-last": n,
	"fetch": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n
);

@import "bumbleberry-settings";
@import "../translations";
