/*
 *	../translations
 *	Browser: iOS Safari 5.0 (approximately 0.0% of all users)
 *
 */

$browser: ios_saf;
$browser_prefix: webkit;
$browser_version: 5.0;
$browser_type: mobile;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": n,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": a,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": a,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"devicepixelratio": y,
	"transforms3d": yx,
	"sharedworkers": y,
	"css-hyphens": yx,
	"css-transitions": yx,
	"font-feature": a,
	"css-animation": yx,
	"css-gradients": yx,
	"css-canvas": yx,
	"css-reflections": yx,
	"css-masks": ax,
	"console-basic": y,
	"svg": y,
	"svg-css": y,
	"svg-smil": a,
	"svg-fonts": y,
	"svg-filters": n,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": p,
	"online-status": y,
	"eventsource": y,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": y,
	"mathml": y,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": ax,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": a,
	"hidden": y,
	"script-async": y,
	"mediasource": n,
	"cors": a,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": a,
	"history": y,
	"json": y,
	"classlist": a,
	"text-overflow": y,
	"webm": n,
	"mpeg4": y,
	"ogv": n,
	"wordwrap": a,
	"pointerlock": n,
	"object-fit": n,
	"xhr2": a,
	"minmaxwh": y,
	"details": p,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": a,
	"datalist": p,
	"dataset": y,
	"css-grid": n,
	"menu": n,
	"css-zoom": y,
	"rem": a,
	"ttf": y,
	"touch": y,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": a,
	"document-execcommand": u,
	"input-color": n,
	"input-number": a,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": n,
	"css-repeating-gradients": yx,
	"css-filters": n,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": a,
	"viewport-units": n,
	"contentsecuritypolicy": a,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": p,
	"user-select-none": yx,
	"input-file-accept": n,
	"webp": n,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": n,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": n,
	"css-image-orientation": a,
	"picture": n,
	"woff2": n,
	"text-size-adjust": yx,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": ax,
	"objectrtc": n,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": ax,
	"css-text-align-last": n,
	"css-logical-props": ax,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": a,
	"currentcolor": y,
	"input-pattern": a,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": y,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": n,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": a,
	"page-transition-events": y,
	"ogg-vorbis": n,
	"meter": n,
	"progress": n,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": y,
	"link-rel-prefetch": n,
	"ol-reversed": n,
	"css-first-letter": y,
	"wbr-element": y,
	"const": a,
	"css-all": n,
	"css-initial-value": y,
	"css-letter-spacing": y,
	"css-unset-value": n,
	"insertadjacenthtml": y,
	"let": n,
	"arrow-functions": n,
	"asmjs": n,
	"lazyload": n,
	"link-rel-dns-prefetch": u,
	"link-rel-prerender": n,
	"rest-parameters": n,
	"css-cross-fade": yx,
	"css-writing-mode": yx,
	"customevent": a,
	"textcontent": y,
	"addeventlistener": y,
	"dispatchevent": y,
	"documenthead": y,
	"innertext": y,
	"client-hints-dpr-width-viewport": n,
	"link-rel-preconnect": n,
	"netinfo": n,
	"setimmediate": n,
	"es6-number": n,
	"maxlength": y,
	"proxy": n,
	"keyboardevent-which": y,
	"keyboardevent-charcode": y,
	"keyboardevent-code": n,
	"keyboardevent-location": a,
	"keyboardevent-getmodifierstate": n,
	"keyboardevent-key": n,
	"brotli": n,
	"element-closest": n,
	"input-event": y,
	"input-search": y,
	"css-motion-paths": n,
	"css-scroll-behavior": n,
	"subresource-integrity": n,
	"push-api": n,
	"background-position-x-y": y
);

@import "bumbleberry-settings";
@import "../translations";
