= columns(medium: 12) do
  = admin_update_form do
    = translate_textarea :group_ride_info, @this_conference, label: 'articles.conference_registration.headings.admin.edit.group_ride', help: 'articles.conference_registration.paragraphs.admin.edit.group_ride', edit_on: :focus
    .actions.right
      = button :save, value: :save
