.guests-housed
  %h5 Guests Housed:
  .data="#{@guests_housed} / #{@guests.size}"

%table.hosts.admin-edit
  - @hosts.each do | id, registration |
    %tr.host
      %th
        .name=registration.user.name
        .address=registration.housing_data['address']
        %td.inner-table{colspan: 2}=host_guests_table(registration)
