= columns(medium: 12) do
  = form_tag administration_update_path(@this_conference.slug, @admin_step) do
    = translate_textarea :payment_message, @this_conference, default: 'articles.conference_registration.paragraphs.Payment', help: 'articles.conference_registration.paragraphs.admin.payment.message', edit_on: :focus, short: true

    .actions.right
      = button :save, value: :save
