%img{src: "#{@conference.poster.full.url}", style: "max-width: 100%;"}
%div{style: 'padding: 25px'}
	%h1=_'register.email.registration.please_confirm',"Hi #{@data[:user][:username]}, please confirm your registration for #{@conference.title}", vars: {:username => @data[:user][:username]}
	%div{style: 'text-align:center'}
		%h1{style: 'background-color:#F11845;text-align:center;display:inline-block;padding: 5px 20px 10px;'}
			%a{href: @confirmation_url, style: 'color:#FFF;text-decoration:none;'}
				=_'register.email.registration.confirm_button',"Yes I'm Really Coming!"