%h1=_!('From')
%table.error-report
  %tr
    %th=_!'Key'
    %th=_!'Value'
  %tr
    %td=_!'User ID'
    %td=_!(@from.is_a?(User) ? @from.id : '')
  %tr
    %td=_!'User Name'
    %td=_!(@from.is_a?(User) ? @from.name : '')
  %tr
    %td=_!'User Email'
    %td=_!(@from.is_a?(User) ? @from.email : @from)
  %tr
    %td=_!'IP Address'
    %td=_!@request['remote_ip']
  %tr
    %td=_!'UUID'
    %td=_!@request['uuid']
  %tr
    %td=_!'URL'
    %td=_!@request['original_url'] 

%h1=_!'Message'
%blockquote=_!markdown(@message)

%h1=_!'Params'
%table.error-report
  %tr
    %th=_!'Key'
    %th=_!'Value'
  - @params.each do | key, value |
    %tr
      %td=_!key
      %td=_!value

%h1=_!'Request Environment'
%table.error-report
  %tr
    %th=_!'Key'
    %th=_!'Value'
  - @request['env'].each do | key, value |
    %tr
      %td=_!key
      %td=_!value