=_'email.confirmation.paragraph.please_confirm','Hello! To gain access to registration and other features of Bike!Bike!, please confirm your email address by clicking on following link:'
=''
="#{@host}/confirm/#{@confirmation.token}"
