%p
  - workshop_link = link_to (_!@workshop.title), view_workshop_url(@conference.slug, @workshop.id)
  =_'email.workshop.paragraph.request_approved',"You have been added as a facilitator of #{workshop_link.html_safe}.", vars: {workshop_title: workshop_link.html_safe}

