/**

	Layouts only

*/

html {
	background-color: $white
}

body {
	background-color: $primary-color;
}

#main-nav {
	background-color: $white;
	width: 100%;
	display: table;
	font-size: 0.6667em;
	font-size: 2.4vw;

	p {
		display: none;
	}

	.button {
		width: 29%;
		margin: 0;
		clear: left;

		&.logo {
			background-color: $white;
			width: 13%;
			border: 0;
			padding: 0;
			vertical-align: top;
			overflow: auto;

			/*svg {
				float: left;
				width: 50%;
			}*/

			.logo {
				width: auto;
				height: 2.4em;
				fill: $primary-color;
			}

			.logo-text {
				display: none;
				fill: $black;
			}

			&:hover {
				background-color: transparent;
				color: $black;
			}
		}
	}

	@include breakpoint(medium) {
		display: block;
		min-height: 100%;
		float: left;
		width: 25%;
		padding: 2.5%;
		font-size: 1em;
		min-height: 100vh;

		.button, p {
			display: block;
		}

		p {
			font-size: 0.9em;
		}
		
		.button {
			width: auto;
			margin: 0 0 1.25rem;

			&.logo {
				position: relative;
				width: 100%;
				margin-bottom: 2em;

				.logo {
					float: left;
					width: 51%;
					height: 100%;
					margin-right: 5%;
				}

				img.logo {
					height: auto;
				}

				.logo-text {
					display: block;
					width: 44%;
				}
			}
		}
	}
}

main {
	min-height: 100%;
	//overflow: auto;
	background-color: $white;
}

#content {
	padding: 1em;
	overflow: auto;
	background-color: lighten($color-5, 20);

	.organizations & {
		background-color: lighten(desaturate($organization-color, 25), 50);
		min-height: 100vh;
	}

	.conferences & {
		background-color: lighten(desaturate($conference-color, 25), 50);
		min-height: 100vh;
	}

	@include breakpoint(medium) {
		padding: 4em;

		.organizations-show & {
			min-height: 25em;
			min-height: 50vh;
		}
	}
}

#banner {
	position: relative;
	padding-bottom: 4em;
	background-size: cover;
	background-position: center 66.6667%;
	color: $white;
	background-color: rgba($conference-color, 0.33);
	background-blend-mode: overlay;
	overflow: hidden;
	@include text-shadow(0 0 0.5em $black);

	h1, h2 {
		color: inherit;
	}

	.no-blend-modes & {
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: inherit;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		//background-color: inherit;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, darken($conference-color, 25) 100%));
		mix-blend-mode: multiply;
	}

	.row {
		height: 100%;
		z-index: 2;
		position: relative;

		.align-bottom {
			height: 50%;
		}
	}

	.align-bottom > div {
		margin-bottom: 3em;
	}

	.button {
		width: 75%;
		color: inherit;
		border-color: inherit;
		background-color: rgba(darken($article-color, 0), 0.33);
		padding: 0.75em 1em;
		@include text-shadow(none);

		&:hover {
			background-color: $article-color;
			color: $white;
			border-color: transparent;
		}
	}

	.organizations & {
		background-color: rgba($organization-color, 0.33);

		&:after {
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, darken($organization-color, 25) 100%));
		}
	}

	h2 {
		color: $color-4;
		margin-bottom: 0.25em;

		+ em {
			display: block;
			color: $color-5;
			margin-bottom: 1em;
		}
	}

	.organizations-show & {
		h1 {
			line-height: 0.9em;
			margin-bottom: 0.5em;
		}

		figure {
			text-align: center;
		}
	}

	.conferences-show & {
		.columns.banner {
			height: 75%;
			padding-bottom: 1em;

			figure {
				margin-left: 0;
			}
		}
	}

	.organizations-index &,
	.conferences-index & {
		height: 13vw;
		min-height: 0;
		background-position: center 25%;

		h1 {
			font-size: 8vw;
			margin-top: 1vw;
		}
	}

	@include breakpoint(medium) {
		min-height: 40em;
		height: 100%;
		height: 100vh;

		.organizations-show &,
		.conferences-show & {
			min-height: 30em;
			height: 50%;
			height: 50vh;

			.row {
				height: 100%;
			}

			h1 {
				font-size: 3.5em;
				margin-top: 0.5em;
			}

			figure {
				img {
					max-height: 100%;
				}
			}

			.portrait {
				h1 {
					margin-top: 20%;
				}

				figure img {
					width: 100%;
				}
			}

			.landscape {
				.columns {
					max-height: 70%;
				}
			}
		}

		.organizations-index &,
		.conferences-index & {
			h1 {
				font-size: 3.75vw;
				margin-top: 6vw;
			}
		}
	}
}

.align-bottom {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: flex-end;
	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;

	> div {
		width: 100%;
	}
}

.centered {
	text-align: center;
}

#footnotes_debug {
	display: none;
}

#footer {
	min-height: 5em;
	background-color: inherit;
}

/*body {
	height: auto;
}

#footer {
	//margin-top: 5em;
}

main {
	padding-bottom: 5em;
	background-color: $white;

	body.page-style-form & {
		//background-color: $color-5;
	}

	.no-banner & {
		//border-top: 0.25em solid $primary-color;
	}
}

$body-background-color: $white;
//$main-container-background-color: #F4F4F4;
//$content-background-color: #FFF;
//$layout-border-color: #DDD;
$translation-control-background-color: $black !default;
$translation-control-text-color: $black !default;

#translation-control {
	position: fixed;
	padding: 0.75em;
	background-color: $translation-control-background-color;
	height: 3.75em;
	overflow: visible;
	z-index: 2;
	width: 100%;
	top: 0;

	.row {
		max-width: none;
	}

	select, button {
		height: 2.66667em;
		margin: 0;
	}

	select {
	}

	textarea {
		margin: 0 0 0.5em;
		min-height: 2.66667em;
	}

	button {
		line-height: 0em;
		font-size: 0.875em;
	}

	input, label {
		margin: 0.75em 0 0 0.5em;
	}

	+ .top-bar {
		margin-top: 3.75em;
	}
}

#translatepluralizations {
	display: none;
	background-color: $translation-control-background-color;
	color: $translation-control-text-color;
	padding: 0.5em;

	label {
		color: inherit;
	}
}

#translatevars {
	display: none;
	//position: absolute;
	background-color: $translation-control-background-color;
	color: $translation-control-text-color;
	z-index: 1;
	padding: 0.5em;
	//margin-top: 0.5em;

	ul {
		list-style: none;
		margin: 0;
		display: inline-block;
	}

	li {
		font-family: monospace;
		font-size: 0.9em;
		display: inline-block;
		margin-right: 0.5em;

		&:before {
			content: '%{';
		}

		&:after {
			content: '}';
		}

		&.used {
			text-decoration: line-through;
		}
	}
}

#banner {
	//min-height: 5em;
	//background-color: rgba($black, 0.125);
	position: relative;
	color: $black;
	//border-top: 0.25em solid $primary-color;
	padding: 1em 0;
	margin-bottom: 2.5em;
	text-align: center;

	&.has-image {
		padding: 0;
		margin-bottom: 5em;
		color: #FFF;
		background-size: cover;
		background-position: center 75%;
		min-height: 25em;
		box-shadow: inset 0 10em 50em -5em #000;
		text-shadow: 0 0.1em 0.75em #000;
		text-align: left;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			opacity: 0.5;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1.1em;
			background-image: linear-gradient(45deg, $white 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, $white 75%);
			background-image: -ms-linear-gradient(45deg, $white 25%, transparent 25%), -ms-linear-gradient(-45deg, transparent 75%, $white 75%);
			background-image: -moz-linear-gradient(56deg, $white 25%, transparent 25%), -moz-linear-gradient(-56deg, transparent 75%, $white 75%);
			background-image: -ms-linear-gradient(56deg, $white 25%, transparent 25%), -ms-linear-gradient(-56deg, transparent 75%, $white 75%);
			background-image: -webkit-linear-gradient(56deg, $white 20%, transparent 25%), -webkit-linear-gradient(-56deg, transparent 75%, $white 80%);
			background-repeat: repeat-x;
			background-size: 1.25em 1.1em;
			background-position: 0 bottom;
			//padding-top: 0.6em;
			//margin-top: 5em;
		}

		body.organizations & {
			border-color: $organization-color;

			&:before {
				background-color: $organization-color;
			}

			&.has-image {
				h1 {
					color: #FFF;
				}
				h2 {
					color: #CCC;
				}
			}
		}

		.page-style-emphasize-banner & {
			padding-top: $topbar-height;
		}

		h1 {
			color: $color-3;
		}

		h2, em {
			color: $color-2;
		}
	}

	figure img {
		margin-bottom: -2.5em;
		box-shadow: 0 0.1em 0.75em #000;
		position: relative;
		z-index: 1;
		background-color: $white;
	}

	h1, h2 {
		line-height: 1em;
	}

	.info {
		padding-top: 5%;
	}

	p {
		line-height: 1.3333em;
		margin-top: 1.5em;
		//box-shadow: 0 0 5em 1em #000;
		//background-color: rgba(#000, 0.7);
		//border-radius: 1em;
	}

	.button {
		color: inherit;
		background-color: $primary-color;// rgba(0, 0, 0, 0.75);
	}
}

.top-bar {
	.name h1 a {
		text-shadow:
			0 -3px $black, 0 1px $black,
			0 3px $color-1, 0 4px $black,
			0 6px $color-2, 0 7px $black,
			0 9px $color-3, 0 10px $black,
			0 12px $color-4, 0 13px $black,
			0 15px $color-5, 0 16px $black;
		-webkit-transition: text-shadow 333ms ease-in-out;
		-moz-transition: text-shadow 333ms ease-in-out;
		-ms-transition: text-shadow 333ms ease-in-out;
		transition: text-shadow 333ms ease-in-out;
		line-height: 2em;
		padding-left: 0;

		&:hover {
			text-shadow:
				0 0 $black, 0 0 $black,
				0 0 $color-1, 0 0 $black,
				0 0 $color-2, 0 0 $black,
				0 0 $color-3, 0 0 $black,
				0 0 $color-4, 0 0 $black,
				0 0 $color-5, 0 0 $black;
		}
	}

	.top-bar-section ul li > a {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1em;

		&.button {
			background-color: transparent;
			margin: 1em 0;
			color: $white;
			border: 1px solid;
		}
	}

	.user-profile {
		padding: 0;

		a {
			padding: 0em 0.75em;
		}

		img {
			width: 2.25em;
			border-radius: 33%;
		}
	}

	.has-form {
		padding: 0;

		&.sign-out a.button {
			font-size: 0.6em;
			margin-top: 2.25em;
		}
	}

	.page-style-emphasize-banner & {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		text-shadow: 0 0.1em 0.75em #000;
	}
}

.centered {
	text-align: center;
}

select.cant {
	display: none;
}

body.organizations-show {
	main > nav .tabs {
		position: relative;
		top: -2em;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;

	#overlay-inner {
		text-align: center;
		display: inline-block;
		background-color: $black;
		padding: 2em;
		margin: 5% 0 0 0;
		padding-top: 0;
		box-shadow: 0 0 1em #000;
	}

	&.user-select {
		#overlay-inner {
			min-width: 50%;
		}
	}
}

.user-preview {
	display: inline-block;
	margin: 0.5em;
	position: relative;

	label {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #FFF;
		background-color: rgba(#000, 0.5);
	}
}

.small-text-centered {
	text-align: center;

	@media #{$medium-up} {
		text-align: inherit;
	}
}

table {
	td {
		vertical-align: top;

		&.primary {
			width: 100%;
		}
	}
}

@media #{$medium-up} {
	.top-bar-section li a:not(.button) {
		background: transparent !important;
	}
}

*/
