/**

	Layouts only

*/

html {
	background-color: $white
}

body {
	background-color: $primary-color;
	height: auto;
}

#main-nav {
	background-color: $white;
	width: 100%;
	display: block;
	font-size: 0.6667em;
	font-size: 2.4vw;
	overflow: hidden;
	height: 3.1em;

	p {
		display: none;
	}

	.buttons {
		display: block;
		width: 87%;
		height: 100%;
		//overflow: hidden;
		white-space: nowrap;
		float: right;
	}

	.button {
		width: 33.3%;
		height: 100%;
		margin: 0;
		float: left;

		&:hover {
			background-color: rgba($white, 0.85);
		}

		&.active {
			&:after {
				content: '';
				width: 0;
				height: 0;
				display: block;
				position: absolute;
				border-style: solid;
				border-width: 1em 1em 0 1em;
				border-color: #a0c700 transparent transparent transparent;
				left: 0;
				right: 0;
				margin: 0.15em auto 0;
				top: 100%;
				z-index: 1;
				border-width: 3vw 5vw 0 5vw;
			}
		}

		&.logo {
			background-color: transparent;
			width: 13%;
			border: 0;
			padding: 0;
			vertical-align: top;
			//overflow: hidden;
			height: 100%;
			float: left;

			.logo {
				width: auto;
				height: 2em;
				fill: $primary-color;
				position: absolute;
				left: 0;
				margin-top: 0.15em;
			}

			.logo-text {
				display: none;
				fill: $white;
			}

			&:hover {
				background-color: transparent;
				color: $black;
			}
		}
	}

	@include breakpoint(medium) {
		height: 5em;
		position: absolute;
		z-index: 10;
		//background-color: $white;
		background-color: rgba($white, 0.5);

		.has-banner-image & {
			background-color: transparent;
			@include background-image(linear-gradient(top, #000 0%, rgba(#000, 0) 100%));
		}

		.buttons {
			display: block;
			width: 70%;
			height: auto;
			//overflow: hidden;
			white-space: normal;
			font-size: 0.75em;
			margin-top: 2.5%;
		}

		p {
			font-size: 1.25em;
			font-size: 1.25vw;
			line-height: 1.2em;
		}
		
		.button {
			width: auto;
			height: auto;
			//float: none;
			//margin: 0 0 1.25rem;
			margin: 1%;
			width: 30%;

			&.logo {
				position: relative;
				//width: 100%;
				//height: auto;
				//margin-bottom: 2em;
				//float: none;
				width: 25%;
				margin: 0;
				height: 100%;
				float: left;
				padding: 0.25em;

				.logo {
					position: static;
					float: left;
					width: 51%;
					height: 100%;
					margin: 0 5% 0 0;
				}

				img.logo {
					height: auto;
				}

				.logo-text {
					display: block;
					width: 44%;
					height: 100%;
				}
			}
		}
	}

	@include breakpoint(large) {
		display: block;
		position: static;
		height: auto;
		min-height: 0;
		float: left;
		width: 25%;
		padding: 2.5%;
		font-size: 1em;

		.has-banner-image & {
			background-image: none;
		}

		.button, p {
			display: block;
		}

		.button {
			width: 100%;
			height: auto;
			margin: 0 0 1.25em;
			float: none;

			&.logo {
				width: 100%;
				height: auto;
				float: none;

				.logo-text {
					fill: $black;
				}
			}
		}

		.buttons {
			display: block;
			width: 100%;
			font-size: 1em;
			margin: 2em 0 0;
			float: none;
		}
	}
}

#side-bar {
	padding: 2.5%;

	.preview-list {

		li {
			margin: auto;
			float: none;
		}
	}

	h5 {
		text-align: center;
	}

	@include breakpoint(medium) {
		+ #content {
			padding-top: 0;
		}
	}

	@include breakpoint(large) {
		float: left;
		clear: left;
		width: 25%;
		font-size: 1vw;

		h5 {
			text-align: left;
			font-size: 1.25em;
		}

		+ #content {
			padding-top: 4em;
		}
	}
}

main {
	min-height: 100%;
	//overflow: auto;
	background-color: $white;

	@include breakpoint(large) {
		overflow: auto;
	}
}

#content {
	padding: 1em;
	overflow: auto;
	//background-color: lighten($color-5, 20);
	background-color: $white;

	.organizations & {
		//background-color: lighten(desaturate($organization-color, 25), 50);
		min-height: 100vh;
	}

	.conferences & {
		//background-color: #FFF;
		//background-color: lighten(desaturate($conference-color, 25), 42.5);
		min-height: 100vh;
	}

	@include breakpoint(medium) {
		padding: 4em;
		clear: right;

		.organizations-show & {
			min-height: 25em;
			min-height: 50vh;
		}
	}
}

#banner {
	position: relative;
	background-size: cover;
	background-position: center 66.6667%;
	//padding-top: 4em;
	color: $white;
	overflow: visible;
	background-color: $black;

	h1, h2 {
		color: inherit;
	}

	.row {
		height: 100%;
		z-index: 2;
		position: relative;

		//.align-bottom {
		//	height: 50%;
		//}
	}

	.align-bottom > div {
		margin-bottom: 3em;
	}

	.button {
		width: 75%;
		color: inherit;
		border-color: inherit;
		background-color: rgba(darken($article-color, 0), 0.33);
		padding: 0.75em 1em;
		@include text-shadow(none);

		&:hover {
			background-color: $article-color;
			color: $white;
			border-color: transparent;
		}
	}

	.organizations & {
		background-color: $organization-color;
	}

	.has-banner-image & {
		padding-bottom: 4em;
		background-color: rgba($conference-color, 0.33);
		background-blend-mode: overlay;
		@include text-shadow(0 0 0.5em $black);

		.no-blend-modes & {
			&:before {
				content: '';
				display: block;
				position: absolute;
				background-color: inherit;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			//background-color: inherit;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, darken($conference-color, 25) 100%));
			mix-blend-mode: multiply;
		}
	}

	.has-banner-image.organizations & {
		background-color: rgba($organization-color, 0.33);

		&:after {
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, darken($organization-color, 25) 100%));
		}
	}

	h2 {
		color: $color-4;
		margin-bottom: 0.25em;

		+ em {
			display: block;
			color: $color-5;
			margin-bottom: 1em;
		}
	}

	.organizations-show & {
		h1 {
			line-height: 0.9em;
			margin-bottom: 0.5em;
		}

		figure {
			text-align: center;
		}
	}

	.conferences-show & {
		.columns.banner {
			//height: 75%;
			padding-bottom: 1em;

			figure {
				margin-left: 0;
			}
		}
	}

	.organizations-index &,
	.conferences-index & {
		height: 13vw;
		min-height: 0;
		background-position: center 25%;

		h1 {
			font-size: 8vw;
			margin-top: 1vw;
		}
	}

	@include breakpoint(medium) {
		padding: 7.5em 4em 1em;

		.has-banner-image & {
			min-height: 40em;
			height: 100%;
			height: 100vh;
		}

		.page-style-article & {
			min-height: 30em;

			.row {
				height: 100%;
			}

			h1 {
				font-size: 3.5em;
				margin-top: 0.5em;
			}

			figure {
				img {
					max-height: 100%;
				}
			}

			.portrait {
				h1 {
					margin-top: 20%;
				}

				figure img {
					//width: 100%;
				}
			}

			.landscape {
				.columns {
					max-height: 70%;
				}
			}
		}

		.page-style-list & {
			min-height: 10em;
			height: 30em;
			height: 30vw;

			h1 {
				font-size: 6em;
				font-size: 6vw;
			}
		}
	}

	@include breakpoint(large) {
		border-bottom-left-radius: 2.5em;
		padding-top: 2em;
		width: 75%;
		float: right;

		.has-banner-image & {
			padding-top: 0;
		}

		.no-content & {
			border-radius: 0;
		}

		&:after {
			border-bottom-left-radius: inherit;
		}

		.page-style-list & {
			height: 15em;
			height: 15vw;

			h1 {
				font-size: 3.75vw;
				margin-top: 6vw;
			}
		}

		.page-style-article & {
			height: 50%;
			height: 50vh;
		}

		.conferences-show & {
			.columns.banner {
				height: 75%;
			}
		}

		.row .align-bottom {
			height: 50%;
		}
	}
}

.align-bottom {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: flex-end;
	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;

	> div {
		width: 100%;
	}
}

.centered {
	text-align: center;
}

#footnotes_debug {
	display: none;
}

#footer {
	position: relative;
	min-height: 5em;
	background-color: inherit;
	z-index: 1;

	i {
		display: inline-block;
		border-left: 3px solid;
		height: 1em;
		vertical-align: middle;
		-webkit-transform: skewX(-15deg);
		-moz-transform: skewX(-15deg);
		-ms-transform: skewX(-15deg);
		transform: skewX(-15deg);
	}
}

.photo-attribution {
	position: absolute;
	top: 100%;
	right: 0.25em;
	margin: 0.25em 0.25em 0 0;
	font-size: 0.8em;
	text-align: right;
	text-shadow: none;
	@include opacity(0.5);
	clear: right;
	z-index: 2;

	> span {
		display: none;
		color: $black;
	}

	&:hover {
		@include opacity(1);

		> span {
			display: block;
		}
	}

	.no-content & {
		top: auto;
		bottom: 0.25em;
		color: $white;
		@include opacity(0.25);

		&:hover {
			@include opacity(0.5);
		}

		a,
		a:visited,
		span {
			color: inherit;
		}
	}
}

/*body {
	height: auto;
}

#footer {
	//margin-top: 5em;
}

main {
	padding-bottom: 5em;
	background-color: $white;

	body.page-style-form & {
		//background-color: $color-5;
	}

	.no-banner & {
		//border-top: 0.25em solid $primary-color;
	}
}

$body-background-color: $white;
//$main-container-background-color: #F4F4F4;
//$content-background-color: #FFF;
//$layout-border-color: #DDD;
$translation-control-background-color: $black !default;
$translation-control-text-color: $black !default;

#translation-control {
	position: fixed;
	padding: 0.75em;
	background-color: $translation-control-background-color;
	height: 3.75em;
	overflow: visible;
	z-index: 2;
	width: 100%;
	top: 0;

	.row {
		max-width: none;
	}

	select, button {
		height: 2.66667em;
		margin: 0;
	}

	select {
	}

	textarea {
		margin: 0 0 0.5em;
		min-height: 2.66667em;
	}

	button {
		line-height: 0em;
		font-size: 0.875em;
	}

	input, label {
		margin: 0.75em 0 0 0.5em;
	}

	+ .top-bar {
		margin-top: 3.75em;
	}
}

#translatepluralizations {
	display: none;
	background-color: $translation-control-background-color;
	color: $translation-control-text-color;
	padding: 0.5em;

	label {
		color: inherit;
	}
}

#translatevars {
	display: none;
	//position: absolute;
	background-color: $translation-control-background-color;
	color: $translation-control-text-color;
	z-index: 1;
	padding: 0.5em;
	//margin-top: 0.5em;

	ul {
		list-style: none;
		margin: 0;
		display: inline-block;
	}

	li {
		font-family: monospace;
		font-size: 0.9em;
		display: inline-block;
		margin-right: 0.5em;

		&:before {
			content: '%{';
		}

		&:after {
			content: '}';
		}

		&.used {
			text-decoration: line-through;
		}
	}
}

#banner {
	//min-height: 5em;
	//background-color: rgba($black, 0.125);
	position: relative;
	color: $black;
	//border-top: 0.25em solid $primary-color;
	padding: 1em 0;
	margin-bottom: 2.5em;
	text-align: center;

	&.has-image {
		padding: 0;
		margin-bottom: 5em;
		color: #FFF;
		background-size: cover;
		background-position: center 75%;
		min-height: 25em;
		box-shadow: inset 0 10em 50em -5em #000;
		text-shadow: 0 0.1em 0.75em #000;
		text-align: left;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			opacity: 0.5;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1.1em;
			background-image: linear-gradient(45deg, $white 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, $white 75%);
			background-image: -ms-linear-gradient(45deg, $white 25%, transparent 25%), -ms-linear-gradient(-45deg, transparent 75%, $white 75%);
			background-image: -moz-linear-gradient(56deg, $white 25%, transparent 25%), -moz-linear-gradient(-56deg, transparent 75%, $white 75%);
			background-image: -ms-linear-gradient(56deg, $white 25%, transparent 25%), -ms-linear-gradient(-56deg, transparent 75%, $white 75%);
			background-image: -webkit-linear-gradient(56deg, $white 20%, transparent 25%), -webkit-linear-gradient(-56deg, transparent 75%, $white 80%);
			background-repeat: repeat-x;
			background-size: 1.25em 1.1em;
			background-position: 0 bottom;
			//padding-top: 0.6em;
			//margin-top: 5em;
		}

		body.organizations & {
			border-color: $organization-color;

			&:before {
				background-color: $organization-color;
			}

			&.has-image {
				h1 {
					color: #FFF;
				}
				h2 {
					color: #CCC;
				}
			}
		}

		.page-style-emphasize-banner & {
			padding-top: $topbar-height;
		}

		h1 {
			color: $color-3;
		}

		h2, em {
			color: $color-2;
		}
	}

	figure img {
		margin-bottom: -2.5em;
		box-shadow: 0 0.1em 0.75em #000;
		position: relative;
		z-index: 1;
		background-color: $white;
	}

	h1, h2 {
		line-height: 1em;
	}

	.info {
		padding-top: 5%;
	}

	p {
		line-height: 1.3333em;
		margin-top: 1.5em;
		//box-shadow: 0 0 5em 1em #000;
		//background-color: rgba(#000, 0.7);
		//border-radius: 1em;
	}

	.button {
		color: inherit;
		background-color: $primary-color;// rgba(0, 0, 0, 0.75);
	}
}

.top-bar {
	.name h1 a {
		text-shadow:
			0 -3px $black, 0 1px $black,
			0 3px $color-1, 0 4px $black,
			0 6px $color-2, 0 7px $black,
			0 9px $color-3, 0 10px $black,
			0 12px $color-4, 0 13px $black,
			0 15px $color-5, 0 16px $black;
		-webkit-transition: text-shadow 333ms ease-in-out;
		-moz-transition: text-shadow 333ms ease-in-out;
		-ms-transition: text-shadow 333ms ease-in-out;
		transition: text-shadow 333ms ease-in-out;
		line-height: 2em;
		padding-left: 0;

		&:hover {
			text-shadow:
				0 0 $black, 0 0 $black,
				0 0 $color-1, 0 0 $black,
				0 0 $color-2, 0 0 $black,
				0 0 $color-3, 0 0 $black,
				0 0 $color-4, 0 0 $black,
				0 0 $color-5, 0 0 $black;
		}
	}

	.top-bar-section ul li > a {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1em;

		&.button {
			background-color: transparent;
			margin: 1em 0;
			color: $white;
			border: 1px solid;
		}
	}

	.user-profile {
		padding: 0;

		a {
			padding: 0em 0.75em;
		}

		img {
			width: 2.25em;
			border-radius: 33%;
		}
	}

	.has-form {
		padding: 0;

		&.sign-out a.button {
			font-size: 0.6em;
			margin-top: 2.25em;
		}
	}

	.page-style-emphasize-banner & {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		text-shadow: 0 0.1em 0.75em #000;
	}
}

.centered {
	text-align: center;
}

select.cant {
	display: none;
}

body.organizations-show {
	main > nav .tabs {
		position: relative;
		top: -2em;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;

	#overlay-inner {
		text-align: center;
		display: inline-block;
		background-color: $black;
		padding: 2em;
		margin: 5% 0 0 0;
		padding-top: 0;
		box-shadow: 0 0 1em #000;
	}

	&.user-select {
		#overlay-inner {
			min-width: 50%;
		}
	}
}

.user-preview {
	display: inline-block;
	margin: 0.5em;
	position: relative;

	label {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #FFF;
		background-color: rgba(#000, 0.5);
	}
}

.small-text-centered {
	text-align: center;

	@media #{$medium-up} {
		text-align: inherit;
	}
}

table {
	td {
		vertical-align: top;

		&.primary {
			width: 100%;
		}
	}
}

@media #{$medium-up} {
	.top-bar-section li a:not(.button) {
		background: transparent !important;
	}
}

*/
