/**

	Basic theme rules, html native elements only

*/

//$translate-me-bgcolor: rgba(255, 0, 0, 0.25) !default;
//$translate-me-outline-color: rgba(255, 0, 0, 0.5) !default;

.button, button, input[type="file"] {
	/*background-color: rgba($white, 0.5);
	color: $primary-color;
	border: 1px solid;
	padding: 0.75em 1.5em;
	text-transform: uppercase;
	text-shadow: none;

	&:hover {
		color: #FFF;
	}*/

	background-color: $primary-color;
	color: $white;
	font-weight: bold;
	//font-family: $header-font-family;
	font-size: 1.333em;
	border: 0.15em solid transparent;
	padding: 0.5em 1em;

	&.organization, &.secondary {
		background-color: $organization-color;
	}

	&.article {
		background-color: $article-color;
	}

	&:hover {
		color: $primary-color;
		border: 0.15em solid;
		background-color: transparent;

		&.organization {
			color: $organization-color;
		}

		&.article {
			color: $article-color;
		}
	}
}

input[type="file"] {
	display: none;/*inline-block;
	width: auto;
	text-align: center;
	-webkit-appearance: none;
	background-color: #FFF;
	border-radius: 1.5em;
	padding: 0.6em 0;
	cursor: pointer;
	font-family: $button-font-family;
	outline: none;

	&:hover {
		background-color: $primary-color;
	}

	&::-webkit-file-upload-button {
		visibility: none;
		opacity: 0;
		width: 0;
	}*/
}

input[type="date"] {
	&:invalid {
		color: #CCC;
	}
}

h2 {
	line-height: 1em;
	margin-bottom: 0.5em;
}

select {
	border: 1px solid #CCC;
	border-radius: 0.2em;
	font-size: 1.25em;
	font-family: $body-font-family;
	color: rgba($black, 0.75);
	padding: 0 0.5em;
	height: 2em;
	box-shadow: 0 2px #CCC;
	outline: 0;
	background-color: #FFF;

	&.small {
		font-size: 0.8em;
		margin: 0 0 0.25em;
		box-shadow: none;
	}
}

fieldset {
	background-color: #FFF;

	legend {
		margin-left: -2em;
		font-family: $header-font-family;
	}
}

.field {
	margin-bottom: 1em;
	position: relative;
	//border: 1px solid #CCC;
	//border-radius: 1.25em 0 0 1.25em;
	//overflow: hidden;

	label {
		//float: left;
		font-family: $header-font-family;
		line-height: 2.5em;
		//margin-right: 1em;
		//background-color: rgba(#FFF, 0.2);
		//color: $white;
		display: inline-block;
		position: absolute;
		top: 100%;
		margin: -1.333em 1.75em 0;

		span {
			padding: 0 1em;
			font-size: 0.9em;
		}
	}
	div {
		//border: 1px solid #EEE;
		//border-width: 1px 0 0 1px;
	}
	input, select, button {
		//margin: 0;
		height: auto;
		line-height: 1em;
		padding: 0.333em 0.5em;
	}

	input:not([type="file"]) {
		border-bottom: 1px dashed #CCC;
		line-height: 1.25em;
	}

	textarea {
		border: 1px dashed #CCC;
		height: 10em;
		font-size: 1.25em;
	}

	&.text-area {
		label {
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: 1px;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: rgba(255, 255, 255, 0.5);
			text-align: center;
			width: calc(100% - 2px);
			height: calc(100% - 2px);

			span {
				position: relative;
				top: 50%;
				text-align: center;
				font-size: 1.25em;
				font-weight: 600;
				margin: -1em 0 0;
				padding: 0 0.5em;
				display: inline-block;
				border-radius: 0.5em;
				box-shadow: 0 0 1em;
			}
		}

		textarea:focus + label {
			display: none;
		}

		.medium-8 > & {
			font-size: 0.75em;
		}
	}

	input, select, button, label span {
		background-color: $white;
		color: #333;
	}

	&.field-slug {
		position: absolute;
		top: 100%;
		right: 0;
		left: 50%;
		margin-top: -0.875em;
		margin-right: 0.9em;
		margin-left: 10em;
		z-index: 1;

		input {
			font-size: 1em;
			padding-bottom: 0;
			background-color: $gray;
		}

		label {
			margin-top: -3em;
			right: 100%;
			margin-right: 0;
		}
	}

	&.image-field {
		label {
			position: relative;
			margin: 0;
			border-bottom: 1px dotted #CCC;
			padding-bottom: 1.3em;
			text-align: center;

			> span {
				position: absolute;
				background-color: transparent;
				left: 0;
				right: 0;
			}

			&:hover {
				img {
					@include opacity(0.75);
				}
			}
		}
	}

	&.check-box {
		div {
			float: left;
			font-size: 1.75em;
			//display: none;

			/*input {
				-webkit-appearance: none;
			}
			&:before {
				content: '';
				width: 1em;
				height: 1em;
				display: inline-block;
				border: 1px solid #CCC;
				line-height: 0.75em;
				text-align: center;
				font-size: 1.6667em;
				border-radius: 0.2em;
				box-shadow: 0 1.9px #CCC;
				content: '✓';
			}*/
		}
		label {
			position: relative;
			margin: 0;
			display: inline-block;
		}
	}

	&.select {
		overflow: auto;

		label {
			position: static;
			margin: 0;
			float: left;

			& + div {
				float: left;
			}
		}
	}

	&.user-select-field,
	&.organization-select-field {
		display: inline-block;
		position: relative;
		border: 1px solid #CCC;
		padding: 0.25em;
		margin: 1em 1em 0;
		border-radius: 0.25em;
		float: left;
		box-shadow: 0 2px #CCC;
		overflow: hidden;

		label {
			display: block;
			position: relative;
			margin: 0 auto;
		}

		input[type="checkbox"] {
			position: absolute;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			width: 100%;
			width: calc(100% - 0.6em);
			height: 9em;
			border: 0;
			background-color: transparent;
			cursor: pointer;
			outline: none;

			+ label {
				display: none;
				width: 100%;
				width: calc(100% - 0.06em);
				height: 0.94em;
				font-size: 8em;
				position: absolute;
				top: 0.03em;
				left: 0.03em;
				color: $white;
				line-height: 0.75em;
				text-align: center;
				text-shadow: 0 2px 0px $black;
			}

			&:checked {

				+ label {
					background-color: rgba($warning-color, 0.5);
					display: block;
					text-shadow: 0 2px 0px $warning-color;
				}
			}
			&:hover {
				+ label {
					display: block;
					color: $warning-color;
				}
			}
		}

		&.new {
			input[type="checkbox"],
			input[type="checkbox"] + label {
				display: none;
			}
		}

		img {
			display: block;
		}

		.select-user,
		.select-organization {
			margin-bottom: 0.5em;
			display: block;
		}

		.remove-item {
			position: absolute;
			top: 0;
			right: 0;

			&:before {
				content: '';
				height: 0;
				width: 0;
				border-width: 0 2.5em 2.5em 0;
				border-color: transparent $black;
				border-style: solid;
				position: absolute;
				right: 0;
				top: 0;
			}

			&:after {
				content: '×';
				color: $white;
				position: absolute;
				right: 0;
				top: 0;
				width: 1.5em;
				height: 1.25em;
				text-align: center;
				line-height: 1.25em;
			}
		}
	}
}

form > div:first-child + .columns:not([class*="medium-"]) {
	margin-top: 1em;
	margin-bottom: 3em;

	> .field:first-child {
		text-align: center;

		label {
			//margin-left: 0;
			//margin-right: 0;
			left: 0;
			right: 0;
		}
		
		input {
			font-size: 3em;
			text-align: center;
		}
	}

	//+ .columns[class*="medium-"] {//+ .columns[class*="medium-"] {
		//padding-top: 1em;
	//}
}

.actions {
	text-align: center;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-style: italic;
	color: rgba(0, 0, 0, 0.25);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-style: italic;
	color: rgba(0, 0, 0, 0.25);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-style: italic;
	color: rgba(0, 0, 0, 0.25);
}
::-webkit-input-placeholder {
	font-style: italic;
	color: rgba(0, 0, 0, 0.25);
}

input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 5em $input-bg-color inset; /* Change the color to your own background color */
	-webkit-text-fill-color: $input-font-color;

	&:focus {
		-webkit-box-shadow: 0 0 0 2em $input-focus-bg-color inset; /* Change the color to your own background color */
	}
}

.tabs {
	display: inline-block;
	border: 1px solid #CCC;
	margin: 1em 0;
	box-shadow: 0 0.1em 0 #CCC;
	border-radius: 0.25em;
	overflow: hidden;
	font-family: $header-font-family;

	.tab {
		border-right: 1px solid #CCC;
		display: inline-block;
		//padding: 0.25em 1em 0.3333em 0.75em;
		padding: 0.5em 1.5em 0.5em 1.25em;
		background-color: #FFF;
		color: $black;
		float: left;

		&.current {
			background-color: #EEE;
			background-color: #EEE;
		}

		&:hover {
			background-color: #DDD;
			color: $black;
		}

		&:last-child {
			border: 0;
		}
	}
}

.sub-tabs {
	background-color: #E1E1E1;
	padding: 1em;
	margin-bottom: 2em;

	a {
		display: block;
		position: relative;
		padding: 1em;
		margin: 1px 0;
		height: 3.1em;
		font-size: 1.1em;
		font-family: $header-font-family;
		color: $white;
		background-color: $black;
		text-transform: uppercase;

		&.current {
			background-color: $primary-color;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 0;
				height: 0;
				border: 1.55em solid $primary-color;
				border-color: transparent transparent transparent $primary-color;
				border-width: 1.55em 0 1.55em 1.55em;
			}
		}
	}
}

svg {
	height: 0%;
}

#footer {
	color: $white;
	padding: 2.5em 0;
	font-size: 1.25em;

	a {
		margin: 0 1em;
	}

	a, a:visited {
		color: $white;
	}

	a:hover {
		color: rgba($white, 0.5);
	}
}