%article
	= row do
		= columns(medium: 12) do
			%h2=_'articles.conference_registration.headings.email_confirm','Please confirm your email address'
		= columns(medium: 12) do
			=paragraph _('articles.conference_registration.paragraphs.email_confirm', :p)
