- banner_image @conference.cover_url, id: 532693, name: 'phil', user_id: 1429589, src: 'panoramio'
- page_style 'emphasize-banner'

- content_for :banner do
	.row
		.columns.small-12.banner
			%figure
				%img{src: @conference.poster_url}
		.columns.medium-6.align-bottom
			%div
				%h1='Bike!Bike! '+@conference.start_date.year.to_s
				%h2
					- location = @conference.organizations.first.locations.first
					= location.city + ', ' + (location.territory || location.country)
				%em
					= (l @conference.start_date, format: :date) + ' - ' + (l @conference.end_date, format: :date)
				- if params['controller'] != 'conferences'
					%p= ActionView::Base.full_sanitizer.sanitize(@conference.info).gsub(/^(.{300,350}\.)(.*)$/m, '\1...')
		.columns.medium-6.centered.align-bottom
			%div
				- if @conference.registration_open
					%a.button{href: @conference.url(:register)}
						=_'conference.Register_Now'
				- if params['controller'] != 'conferences'
					%a.button.more{href: @conference.url}
						=_'conference.More_Info'
	= banner_attribution