- content_for :banner do
	.title
		%h1=_!@this_conference.title
		.details
			%h2.primary=location(@this_conference.city)
			.secondary
				= date_span(@this_conference.start_date.to_date, @this_conference.end_date.to_date)
	%img{src: @this_conference.poster.full.url || image_path('default_poster.jpg'), role: :presentation, alt: (_'images.conference.poster', vars: { conference_title: @this_conference.title })}
- content_for :og_image do
	= @this_conference.poster.full.url || image_path('default_poster.jpg')
