%h3=_'registration.cancel.title','Cancel Registration?'
.columns.medium-offset-1.end
	%p.help=_'registration.cancel.help','If you cancel now, you will lose the infomation you have submitted thus far, but you will be able to restart registration any time while registration is still open.'
