%h3=_'registration.cancelled.title','Registration Cancelled'
.columns.medium-offset-1.end
	%p.help=_'registration.cancelled.help','Your registration has been cancelled but you can always restart the process while registration is still open.'
