%h3=_'registration.thanks.title','Thanks for submitting your registration'
.columns.medium-offset-1.end
	%h4=_'registration.thanks.remember_to_confirm','Remember to confirm your registration upon receiving the confirmation email'
	%p.help
		=_'registration.thanks.remember_to_confirm.help','If you experience any technical issues, please contact Godwin directly at'
		%a{href: 'mailto:goodgodwin@hotmail.com'}='goodgodwin@hotmail.com'
