/*
 *	web-fonts
 *	Browser: Firefox 40 (approximately 0.01% of all users)
 *
 */

$browser: firefox;
$browser_prefix: moz;
$browser_version: 40;
$browser_type: desktop;

//	CSS Compatibility

$bumbleberry-no-markup: true;
$browser_capabilities: (
	"png-alpha": y,
	"apng": y,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": y,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": y,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": y,
	"use-strict": y,
	"devicepixelratio": y,
	"transforms3d": y,
	"sharedworkers": y,
	"css-hyphens": yx,
	"css-transitions": y,
	"font-feature": y,
	"css-animation": y,
	"css-gradients": y,
	"css-canvas": u,
	"css-reflections": n,
	"css-masks": a,
	"console-basic": y,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": y,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": y,
	"online-status": a,
	"eventsource": y,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": y,
	"mathml": y,
	"css-featurequeries": y,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": y,
	"webgl": a,
	"fileapi": y,
	"shadowdom": nd,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"mediasource": nd,
	"cors": y,
	"css-backdrop-filter": n,
	"calc": y,
	"dom-range": y,
	"ruby": y,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": y,
	"mpeg4": y,
	"ogv": y,
	"wordwrap": a,
	"progressmeter": y,
	"object-fit": y,
	"xhr2": y,
	"minmaxwh": y,
	"details": p,
	"text-stroke": u,
	"inline-block": y,
	"notifications": y,
	"stream": yx,
	"svg-img": y,
	"datalist": a,
	"dataset": y,
	"css-grid": u,
	"menu": a,
	"css-zoom": n,
	"rem": y,
	"ttf": y,
	"touch": nd,
	"matchesselector": y,
	"pointer-events": y,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": y,
	"rellist": y,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": y,
	"css-regions": n,
	"spellcheck-attribute": y,
	"fullscreen": ax,
	"css-exclusions": n,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": n,
	"input-color": y,
	"input-number": y,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": y,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": y,
	"css-filters": y,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": y,
	"viewport-units": y,
	"contentsecuritypolicy": y,
	"pagevisibility": y,
	"stricttransportsecurity": y,
	"style-scoped": y,
	"svg-fragment": y,
	"outline": y,
	"download": y,
	"pointer": p,
	"user-select-none": yx,
	"webp": p,
	"input-autocomplete-onoff": a,
	"intrinsic-width": ax,
	"cryptography": y,
	"template": y,
	"opus": y,
	"jpegxr": n,
	"channel-messaging": nd,
	"css3-tabsize": ax,
	"mutationobserver": y,
	"css-selection": yx,
	"css-placeholder": yx,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": y,
	"clipboard": a,
	"rtcpeerconnection": yx,
	"css3-cursors": y,
	"css3-cursors-newer": y,
	"webvtt": y,
	"promises": y,
	"css-sticky": y,
	"dialog": n,
	"css-variables": y,
	"vibration": y,
	"css-backgroundblendmode": y,
	"css-mixblendmode": y,
	"speech-recognition": nd,
	"high-resolution-time": y,
	"battery-status": a,
	"serviceworkers": nd,
	"text-decoration": y,
	"iframe-srcdoc": y,
	"speech-synthesis": nd,
	"user-timing": y,
	"srcset": y,
	"ambient-light": a,
	"will-change": y,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": y,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": u,
	"css-image-orientation": y,
	"picture": y,
	"woff2": y,
	"text-size-adjust": n,
	"web-animation": ad,
	"resource-timing": y,
	"custom-elements": pd,
	"imports": pd,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": y,
	"css-supports-api": y,
	"css-touch-action": nd,
	"autofocus": y,
	"css-clip-path": a,
	"getrandomvalues": y,
	"screen-orientation": ax,
	"font-loading": nd,
	"font-unicode-range": nd,
	"gamepad": y,
	"css-font-stretch": y,
	"font-size-adjust": y,
	"link-icon-png": y,
	"link-icon-svg": a,
	"css-media-resolution": y,
	"xml-serializer": y,
	"css-image-set": n,
	"css-boxdecorationbreak": y,
	"object-observe": n,
	"css-at-counter-style": a,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": y,
	"css-crisp-edges": yx,
	"css-text-align-last": yx,
	"css-logical-props": ax,
	"fetch": y,
	"referrer-policy": y,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": y,
	"css-snappoints": y,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": ax,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": a,
	"permissions-api": n,
	"http2": y,
	"font-kerning": y,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": y,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": y,
	"form-attribute": y,
	"es5": y
);

@import "bumbleberry-settings";
@import "web-fonts";
