/*
 *	web-fonts
 *	Browser: IE 6 (approximately 0.07% of all users)
 *
 */

$browser: ie;
$browser_prefix: ms;
$browser_version: 6;
$browser_type: desktop;

//	CSS Compatibility

$bumbleberry-no-markup: true;
$browser_capabilities: (
	"png-alpha": p,
	"apng": n,
	"video": n,
	"audio": n,
	"contenteditable": y,
	"dragndrop": a,
	"internationalization": n,
	"queryselector": p,
	"getelementsbyclassname": p,
	"forms": p,
	"html5semantic": p,
	"offline-apps": p,
	"webworkers": p,
	"fontface": a,
	"eot": y,
	"woff": n,
	"multibackgrounds": n,
	"border-image": n,
	"background-img-opts": n,
	"css-table": n,
	"css-gencontent": n,
	"css-fixed": p,
	"beacon": n,
	"hashchange": p,
	"css-sel2": p,
	"css-sel3": p,
	"css-textshadow": n,
	"css-boxshadow": n,
	"css3-colors": n,
	"css3-boxsizing": p,
	"css-mediaqueries": p,
	"multicolumn": n,
	"border-radius": n,
	"transforms2d": p,
	"use-strict": n,
	"devicepixelratio": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": n,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": n,
	"svg": p,
	"svg-css": n,
	"svg-smil": p,
	"svg-fonts": p,
	"svg-filters": n,
	"svg-html": n,
	"svg-html5": p,
	"canvas": p,
	"canvas-text": p,
	"namevalue-storage": p,
	"sql-storage": n,
	"indexeddb": n,
	"online-status": n,
	"eventsource": n,
	"x-doc-messaging": n,
	"sni": n,
	"datauri": n,
	"wav": n,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": n,
	"xhtmlsmil": a,
	"wai-aria": n,
	"geolocation": p,
	"flexbox": n,
	"webgl": p,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": n,
	"script-async": n,
	"mediasource": n,
	"cors": n,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": p,
	"ruby": a,
	"css-opacity": a,
	"form-validation": n,
	"history": n,
	"json": n,
	"classlist": p,
	"text-overflow": y,
	"webm": n,
	"mpeg4": n,
	"ogv": n,
	"wordwrap": a,
	"progressmeter": n,
	"object-fit": n,
	"xhr2": n,
	"minmaxwh": p,
	"details": p,
	"text-stroke": n,
	"inline-block": a,
	"notifications": n,
	"stream": n,
	"svg-img": n,
	"datalist": p,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"css-zoom": y,
	"rem": n,
	"ttf": n,
	"touch": n,
	"matchesselector": n,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": a,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": n,
	"matchmedia": n,
	"input-datetime": n,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": a,
	"iframe-sandbox": n,
	"css-counters": n,
	"css-resize": n,
	"input-placeholder": n,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": n,
	"mp3": n,
	"word-break": y,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": n,
	"download": n,
	"pointer": n,
	"user-select-none": n,
	"webp": n,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": n,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": n,
	"css-placeholder": n,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": n,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": n,
	"css-appearance": n,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": n,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": a,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": a,
	"currentcolor": n,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": n,
	"fieldset-disabled": a,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": n
);

@import "bumbleberry-settings";
@import "web-fonts";
