/*
 *	web-fonts
 *	Browser: Opera Mini 5.0-8.0 (approximately 4.71% of all users)
 *
 */

$browser: op_mini;
$browser_prefix: o;
$browser_version: 5.0-8.0;
$browser_type: mobile;

//	CSS Compatibility

$bumbleberry-no-markup: true;
$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": n,
	"audio": n,
	"contenteditable": n,
	"dragndrop": n,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": n,
	"html5semantic": a,
	"offline-apps": n,
	"webworkers": n,
	"fontface": n,
	"eot": n,
	"woff": n,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": a,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": n,
	"beacon": n,
	"hashchange": n,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": a,
	"css-boxshadow": n,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": y,
	"border-radius": n,
	"transforms2d": n,
	"use-strict": n,
	"devicepixelratio": y,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": n,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": n,
	"svg": y,
	"svg-css": a,
	"svg-smil": n,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": n,
	"svg-html5": y,
	"canvas": a,
	"canvas-text": n,
	"namevalue-storage": n,
	"sql-storage": n,
	"indexeddb": n,
	"online-status": n,
	"eventsource": n,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": n,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": n,
	"flexbox": y,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": y,
	"script-async": n,
	"mediasource": n,
	"cors": n,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": y,
	"ruby": p,
	"css-opacity": y,
	"form-validation": a,
	"history": n,
	"json": y,
	"classlist": p,
	"text-overflow": y,
	"webm": n,
	"mpeg4": n,
	"ogv": n,
	"wordwrap": a,
	"progressmeter": n,
	"object-fit": yx,
	"xhr2": n,
	"minmaxwh": y,
	"details": p,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": n,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"css-zoom": n,
	"rem": y,
	"ttf": n,
	"touch": n,
	"matchesselector": n,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": n,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": n,
	"matchmedia": n,
	"input-datetime": n,
	"input-color": n,
	"input-number": n,
	"getboundingclientrect": y,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": n,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": a,
	"mp3": n,
	"word-break": n,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": n,
	"download": n,
	"pointer": n,
	"user-select-none": n,
	"webp": y,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": n,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": n,
	"css3-tabsize": ax,
	"mutationobserver": n,
	"css-selection": n,
	"css-placeholder": n,
	"css-deviceadaptation": ax,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": n,
	"css-background-offsets": y,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": a,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": a,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": y,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": n,
	"currentcolor": y,
	"input-pattern": n,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": n,
	"fieldset-disabled": a,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": a
);

@import "bumbleberry-settings";
@import "web-fonts";
