/*
 *	web-fonts
 *	Browser: Opera 10.0-10.1 (approximately 0.04% of all users)
 *
 */

$browser: opera;
$browser_prefix: o;
$browser_version: 10.0-10.1;
$browser_type: desktop;

//	CSS Compatibility

$bumbleberry-no-markup: true;
$browser_capabilities: (
	"png-alpha": y,
	"apng": y,
	"video": n,
	"audio": a,
	"contenteditable": y,
	"dragndrop": p,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": y,
	"html5semantic": a,
	"offline-apps": p,
	"webworkers": p,
	"fontface": y,
	"eot": n,
	"woff": n,
	"multibackgrounds": n,
	"border-image": n,
	"background-img-opts": ax,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": p,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": n,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": n,
	"border-radius": n,
	"transforms2d": n,
	"use-strict": n,
	"devicepixelratio": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": n,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": n,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": p,
	"canvas": y,
	"canvas-text": p,
	"namevalue-storage": n,
	"sql-storage": n,
	"indexeddb": n,
	"online-status": n,
	"eventsource": a,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": y,
	"wav": n,
	"mathml": a,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": p,
	"flexbox": n,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": n,
	"script-async": n,
	"mediasource": n,
	"cors": n,
	"css-backdrop-filter": n,
	"calc": n,
	"dom-range": y,
	"ruby": p,
	"css-opacity": y,
	"form-validation": y,
	"history": n,
	"json": n,
	"classlist": p,
	"text-overflow": yx,
	"webm": n,
	"mpeg4": n,
	"ogv": n,
	"wordwrap": n,
	"pointerlock": n,
	"object-fit": n,
	"xhr2": n,
	"minmaxwh": y,
	"details": p,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": y,
	"datalist": y,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"css-zoom": n,
	"rem": n,
	"ttf": y,
	"touch": n,
	"matchesselector": n,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": n,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"css-exclusions": n,
	"requestanimationframe": n,
	"input-range": y,
	"matchmedia": n,
	"input-datetime": y,
	"input-color": n,
	"input-number": y,
	"getboundingclientrect": a,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": n,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": a,
	"mp3": n,
	"word-break": n,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": a,
	"outline": y,
	"download": n,
	"pointer": n,
	"user-select-none": n,
	"webp": n,
	"input-autocomplete-onoff": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": u,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": y,
	"css-placeholder": n,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": u,
	"css-appearance": n,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": y,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": u,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": y,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": n,
	"background-attachment": a,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": n,
	"css-snappoints": n,
	"input-minlength": n,
	"css-media-interaction": n,
	"ime": n,
	"font-smooth": n,
	"audiotracks": n,
	"videotracks": n,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": n,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": n,
	"form-attribute": y,
	"es5": a,
	"page-transition-events": n,
	"ogg-vorbis": n,
	"meter": n,
	"progress": n,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": n,
	"link-rel-prefetch": n,
	"ol-reversed": n,
	"css-first-letter": a,
	"wbr-element": y,
	"css-all": n,
	"css-initial-value": n,
	"css-letter-spacing": a,
	"css-unset-value": n,
	"insertadjacenthtml": y,
	"let": n,
	"arrow-functions": n,
	"link-rel-prerender": n,
	"rest-parameters": n,
	"css-cross-fade": n,
	"css-writing-mode": n,
	"customevent": n,
	"textcontent": y,
	"addeventlistener": y,
	"documenthead": n,
	"innertext": y,
	"netinfo": n,
	"setimmediate": n
);

@import "bumbleberry-settings";
@import "web-fonts";
