/*
 *	web-fonts
 *	Browser: Safari 3.1 (approximately 0.0% of all users)
 *
 */

$browser: safari;
$browser_prefix: webkit;
$browser_version: 3.1;
$browser_type: desktop;

//	CSS Compatibility

$bumbleberry-no-markup: true;
$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": n,
	"audio": n,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": p,
	"html5semantic": a,
	"offline-apps": p,
	"webworkers": p,
	"fontface": n,
	"eot": n,
	"woff": n,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": a,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"hashchange": p,
	"css-sel2": y,
	"css-sel3": n,
	"css-textshadow": a,
	"css-boxshadow": ax,
	"css3-colors": y,
	"css3-boxsizing": ax,
	"css-mediaqueries": a,
	"multicolumn": ax,
	"border-radius": yx,
	"transforms2d": yx,
	"use-strict": n,
	"transforms3d": n,
	"sharedworkers": n,
	"css-hyphens": n,
	"css-transitions": yx,
	"font-feature": n,
	"css-animation": n,
	"css-gradients": n,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"svg": a,
	"svg-css": n,
	"svg-smil": p,
	"svg-fonts": n,
	"svg-filters": n,
	"svg-html": n,
	"svg-html5": p,
	"canvas": y,
	"canvas-text": p,
	"namevalue-storage": n,
	"sql-storage": y,
	"indexeddb": p,
	"online-status": n,
	"eventsource": n,
	"x-doc-messaging": n,
	"datauri": y,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": n,
	"geolocation": p,
	"flexbox": ax,
	"webgl": n,
	"fileapi": n,
	"shadowdom": n,
	"websockets": n,
	"hidden": n,
	"script-async": n,
	"cors": n,
	"calc": n,
	"ruby": p,
	"css-opacity": y,
	"form-validation": n,
	"history": n,
	"json": n,
	"classlist": p,
	"text-overflow": y,
	"webm": n,
	"mpeg4": n,
	"ogv": n,
	"wordwrap": a,
	"progressmeter": n,
	"object-fit": n,
	"xhr2": n,
	"minmaxwh": y,
	"details": p,
	"text-stroke": yx,
	"inline-block": y,
	"notifications": n,
	"stream": n,
	"svg-img": n,
	"datalist": p,
	"dataset": a,
	"css-grid": n,
	"menu": n,
	"rem": n,
	"ttf": y,
	"touch": n,
	"matchesselector": n,
	"pointer-events": n,
	"blobbuilder": n,
	"filereader": n,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": n,
	"deviceorientation": n,
	"script-defer": n,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": n,
	"fullscreen": n,
	"requestanimationframe": n,
	"input-range": y,
	"matchmedia": n,
	"input-datetime": n,
	"input-color": n,
	"input-number": n,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": a,
	"spdy": n,
	"css-repeating-gradients": n,
	"css-filters": n,
	"getcomputedstyle": a,
	"word-break": a,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": n,
	"stricttransportsecurity": n,
	"style-scoped": n,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": n,
	"user-select-none": yx,
	"webp": n,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": n,
	"css3-tabsize": n,
	"mutationobserver": n,
	"css-selection": y,
	"css-placeholder": n,
	"css-deviceadaptation": n,
	"text-emphasis": n,
	"canvas-blending": n,
	"clipboard": u,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": yx,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"web-speech": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": n,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": n,
	"fetch": n,
	"background-attachment": a,
	"currentcolor": n,
	"input-pattern": n,
	"registerprotocolhandler": n
);

@import "bumbleberry-settings";
@import "bumbleberry";
@import "web-fonts";
