-#%form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_top', class: 'paypal-button'}
-#	%input{type: 'hidden', name: 'cmd', value: '_donations'}
-#	%input{type: 'hidden', name: 'business', value: email_address}
-#	%input{type: 'hidden', name: 'lc', value: 'US'}
-#	%input{type: 'hidden', name: 'item_name', value: 'Bike!Bike!'}
-#	%input{type: 'hidden', name: 'no_note', value: '0'}
-#	%input{type: 'hidden', name: 'currency_code', value: 'USD'}
-#	%button{type: 'submit', value: 'PP-DonationsBF:paypal_logo.png:NonHostedGuest'}=_'donate.button_label','Donate!'
%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top", class: 'paypal-button'}
  %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
  %input{:name => "hosted_button_id", :type => "hidden", :value => "9SHUJKYU4V3C2"}
  %button{type: 'submit', value: 'PP-DonationsBF:paypal_logo.png:NonHostedGuest'}=_'donate.button_label','Donate!'