%footer.row
	.columns.medium-8.medium-push-1.large-6.large-push-2.text-center
		%a{href: '/conferences/'}='Conferences'
		%i
		%a{href: '/conferences/'}='Organizations'
		%i
		%a{href: '/resources/'}='Resources'
	.columns.medium-3.large-3.copyright
		&copy;2014 Bike!Bike!

