.facebook
	=_'links.footer.help_text.facebook', 'Join our facebook group' do |title|
		%a{href: 'https://www.facebook.com/groups/648758205249998/', target: :_blank, title: title}
			=svg_sprite  'icons', 'bb-icon-fb', 'facebook logo'
.github
	=svg_sprite  'icons', 'bb-icon-github', 'github logo'
	%a{href: 'https://github.com/bikebike/BikeBike/issues', target: :_blank}
		=_'links.footer.text.File_an_Issue'
	=_!'|'
	%a{href: 'https://github.com/bikebike/BikeBike', target: :_blank}
		=_'links.footer.text.Help_contribute'
%ul.locales
	-I18n.backend.enabled_locales.each do |locale|
		- if locale.to_s != I18n.locale.to_s # don't show the current locale
			%li
				- locale_translation = _("languages.#{locale}", locale: locale)
				%a{href: url_for_locale(locale)}
					=_'translate.content.change_locale', "Read in #{locale_translation}", vars: {language: locale_translation}, locale: locale
.copy
	=_'links.footer.help_text.contributors', 'Who contributed to building this website' do |title|
		=link_to :humans_txt, {title: title} do
			=((_!"&copy;#{Date.today.strftime("%Y")} Bike!Bike!") || '').html_safe
