
%nav.top-bar
	#nav-inner
		%ul.title-area
			/ Title Area
			%li.name
				%h1
					%a{href: "/"} Bike!Bike!
			/ Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
			%li.toggle-topbar.menu-icon
				%a{href: "#"}
					%span Menu
		.top-bar-section
			/ Left Nav Section
			%ul.left
				%li.divider
				%li.active
					%a{href: "#"} Conferences
				%li.divider
				%li
					%a{href: "#"} Organizations
				%li.divider
				%li
					%a{href: "#"} Resources
				%li.divider
			/ Right Nav Section
			%ul.right
				%li.divider.hide-for-small
				%li.has-form
					%a.button{href: "#"} Sign In!
