//.navbar.navbar-fixed-top
//  .navbar-inner
//    .container
//      = link_to Rails.application.class.parent_name, root_path, class: 'brand'

%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "#"} Top Bar Title
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{href: "#"} Main Item 1
      %li.divider
      %li
        %a{href: "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Main Item 3
        %ul.dropdown
          %li.has-dropdown
            %a{href: "#"} Dropdown Level 1a
            %ul.dropdown
              %li
                %label Dropdown Level 2 Label
              %li
                %a{href: "#"} Dropdown Level 2a
              %li
                %a{href: "#"} Dropdown Level 2b
              %li.has-dropdown
                %a{href: "#"} Dropdown Level 2c
                %ul.dropdown
                  %li
                    %label Dropdown Level 3 Label
                  %li
                    %a{href: "#"} Dropdown Level 3a
                  %li
                    %a{href: "#"} Dropdown Level 3b
                  %li.divider
                  %li
                    %a{href: "#"} Dropdown Level 3c
              %li
                %a{href: "#"} Dropdown Level 2d
              %li
                %a{href: "#"} Dropdown Level 2e
              %li
                %a{href: "#"} Dropdown Level 2f
          %li
            %a{href: "#"} Dropdown Level 1b
          %li
            %a{href: "#"} Dropdown Level 1c
          %li.divider
          %li
            %a{href: "#"} Dropdown Level 1d
          %li
            %a{href: "#"} Dropdown Level 1e
          %li
            %a{href: "#"} Dropdown Level 1f
          %li.divider
          %li
            %a{href: "#"} See all →
      %li.divider
    / Right Nav Section
    %ul.right
      %li.divider.hide-for-small
      %li.has-dropdown
        %a{href: "#"} Main Item 4
        %ul.dropdown
          %li
            %label Dropdown Level 1 Label
          %li.has-dropdown
            %a{href: "#"} Dropdown Level 1a
            %ul.dropdown
              %li
                %a{href: "#"} Dropdown Level 2a
              %li
                %a{href: "#"} Dropdown Level 2b
              %li.has-dropdown
                %a{href: "#"} Dropdown Level 2c
                %ul.dropdown
                  %li
                    %a{href: "#"} Dropdown Level 3a
                  %li
                    %a{href: "#"} Dropdown Level 3b
                  %li
                    %a{href: "#"} Dropdown Level 3c
              %li
                %a{href: "#"} Dropdown Level 2d
              %li
                %a{href: "#"} Dropdown Level 2e
              %li
                %a{href: "#"} Dropdown Level 2f
          %li
            %a{href: "#"} Dropdown Level 1b
          %li
            %a{href: "#"} Dropdown Level 1c
          %li.divider
          %li
            %label Dropdown Level 1 Label
          %li
            %a{href: "#"} Dropdown Level 1d
          %li
            %a{href: "#"} Dropdown Level 1e
          %li
            %a{href: "#"} Dropdown Level 1f
          %li.divider
          %li
            %a{href: "#"} See all →
      %li.divider
      %li.has-form
        %form
          .row.collapse
            .small-8.columns
              %input{type: "text"}/
            .small-4.columns
              %a.alert.button{href: "#"} Search
      %li.divider.show-for-small
      %li.has-form
        %a.button{href: "#"} Button!
