
%nav.top-bar.row
	#nav-inner
		%ul.title-area
			/ Title Area
			%li.name
				%h1
					%a{href: "/"} Bike!Bike!
			/ Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
			%li.toggle-topbar.menu-icon
				%a{href: "#"}
					%span Menu
		.top-bar-section
			/ Left Nav Section
			%ul.left
				%li.active
					%a{href: "/conferences/"} Conferences
				%li
					%a{href: "/organizations/"} Organizations
				%li
					%a{href: "/resources/"} Resources
				/ Right Nav Section
			%ul.right
				- if current_user
					%li.has-form.sign-out
						= link_to "Sign Out", :logout, method: :post, :class => 'button'
					%li.user-profile
						= link_to image_tag(current_user.avatar_url(:icon)), current_user
				- else
					%li.has-form.sign-in
						= link_to "Sign In", :login, :class => 'button'
