- title 'Bike!Bike!'
- has_no_content
- this_is_the_front_page
/
	= @conference.to_json.to_s
/
	= @conferences.to_json.to_s
-# if @conference
-#	= render 'conferences/header'

-#%section
-#	.row
-#		.columns.medium-6
-#			%h1
-#				Welcome to Bike!Bike!
-#			%p
-#				= _ 'home.its_awesome', 'paragraph'
-#		.columns.medium-6
