- title 'Bike!Bike!'
= render 'conferences/header'

-#%section
-#	.row
-#		.columns.medium-6
-#			%h1
-#				Welcome to Bike!Bike!
-#			%p
-#				= _ 'home.its_awesome', 'paragraph'
-#		.columns.medium-6
