- has_no_content
- this_is_the_front_page
- if @conference
	= render 'conferences/header'

- content_for :side_bar do
	%p
		Bike!Bike! is an international annual gathering organized by and for community bicycle projects. The conference is a space for participants from shops and related advocacy groups to converge in a different city each year over a 4 day period to have workshops and strengthen our social network.
