- page_title = 'Bike!Bike! Reources'
- title page_title
- banner_title page_title
- description 'Bike!Bike! list of resources - Bike Collective Wiki, ThinkTank, Bike!Bike! photos and documents'

.row
	.columns
		%p
			Here is a list of online resources available to commmunity bike projects. The bike collective wiki in particlular has great start up kits and many helpful articles about how community bike shops operate. &nbsp;The think tank is a list serve with over 600 contributors. When you join the list, you can talk to community bike shops from all over the world about how to better organize and operate a shop.
		%ul
			%li
				%a{href: 'http://www.bikecollectives.org/wiki/index.php?title=Main_Page', target: '_blank'}
					Bike Collective Wiki
			%li
				%a{href: 'http://lists.bikecollectives.org/listinfo.cgi/thethinktank-bikecollectives.org', target: '_blank'}
					Think tank sign up
			%li
				%a{href: 'http://www.flickr.com/photos/93412361@N07/with/8494632542/', target: '_blank'}
					flickr bikebike!
			%li
				%a{href: 'https://www.dropbox.com/sh/4phyl9lft18whzi/SXQ6XUklKB', target: '_blank'}
					Drop box for bikebike2012 (shared public box)

		%p
			If you have more resources you think should be listed here, please post them to the <a href="http://tqa.bikebike.org/project/issues/website" rel="external">issue tracker for the bikebike! website.</a></div></div>