/*
 *	../admin
 *	Browser: Edge 13.0 (approximately 0.12% of all users)
 *
 */

$browser: edge;
$browser_prefix: ms;
$browser_version: 13.0;
$browser_type: desktop;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": a,
	"internationalization": y,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": a,
	"html5semantic": y,
	"css-line-clamp": n,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"beacon": n,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": y,
	"css-mediaqueries": y,
	"multicolumn": y,
	"border-radius": y,
	"transforms2d": y,
	"use-strict": y,
	"devicepixelratio": y,
	"transforms3d": y,
	"sharedworkers": n,
	"css-hyphens": yx,
	"css-transitions": y,
	"font-feature": y,
	"css-animation": y,
	"css-gradients": y,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"console-basic": y,
	"svg": y,
	"svg-css": y,
	"svg-smil": p,
	"svg-fonts": n,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": n,
	"indexeddb": a,
	"online-status": y,
	"eventsource": n,
	"x-doc-messaging": y,
	"sni": y,
	"datauri": a,
	"wav": y,
	"mathml": n,
	"css-featurequeries": y,
	"xhtml": y,
	"xhtmlsmil": n,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": y,
	"webgl": y,
	"fileapi": a,
	"shadowdom": n,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"mediasource": y,
	"cors": y,
	"css-backdrop-filter": n,
	"calc": y,
	"dom-range": y,
	"ruby": a,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": p,
	"mpeg4": y,
	"ogv": p,
	"wordwrap": a,
	"pointerlock": y,
	"object-fit": n,
	"xhr2": y,
	"minmaxwh": y,
	"details": n,
	"text-stroke": n,
	"chacha20-poly1305": n,
	"inline-block": y,
	"notifications": n,
	"stream": y,
	"svg-img": y,
	"datalist": a,
	"dataset": y,
	"css-grid": ax,
	"menu": n,
	"css-zoom": y,
	"rem": y,
	"ttf": y,
	"touch": nd,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": y,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": y,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": y,
	"css-regions": ax,
	"spellcheck-attribute": y,
	"fullscreen": a,
	"css-exclusions": yx,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": y,
	"document-execcommand": y,
	"input-color": n,
	"input-number": y,
	"getboundingclientrect": y,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": n,
	"css-repeating-gradients": y,
	"css-filters": a,
	"getcomputedstyle": y,
	"mp3": y,
	"word-break": y,
	"viewport-units": a,
	"contentsecuritypolicy": y,
	"pagevisibility": y,
	"stricttransportsecurity": y,
	"style-scoped": n,
	"svg-fragment": y,
	"outline": y,
	"download": y,
	"pointer": y,
	"user-select-none": yx,
	"input-file-accept": n,
	"webp": n,
	"input-autocomplete-onoff": a,
	"intrinsic-width": n,
	"cryptography": y,
	"template": y,
	"opus": n,
	"jpegxr": y,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": y,
	"css-selection": y,
	"css-placeholder": ax,
	"css-deviceadaptation": ax,
	"text-emphasis": n,
	"midi": n,
	"canvas-blending": y,
	"clipboard": a,
	"rtcpeerconnection": n,
	"css3-cursors": a,
	"css3-cursors-newer": y,
	"webvtt": y,
	"promises": y,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"speech-recognition": n,
	"high-resolution-time": y,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"iframe-srcdoc": p,
	"speech-synthesis": n,
	"user-timing": y,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": y,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": y,
	"custom-elements": p,
	"imports": p,
	"input-file-multiple": y,
	"atob-btoa": y,
	"css-appearance": a,
	"objectrtc": y,
	"css-background-offsets": y,
	"css-supports-api": y,
	"css-touch-action": y,
	"autofocus": y,
	"css-clip-path": n,
	"getrandomvalues": y,
	"screen-orientation": ax,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": y,
	"css-font-stretch": y,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": y,
	"xml-serializer": y,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"css-at-counter-style": n,
	"css-page-break": a,
	"css-placeholder-shown": n,
	"broadcastchannel": n,
	"css-crisp-edges": n,
	"css-text-align-last": a,
	"css-logical-props": n,
	"fetch": n,
	"referrer-policy": a,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": n,
	"css-snappoints": ax,
	"input-minlength": n,
	"css-media-interaction": y,
	"ime": yx,
	"font-smooth": n,
	"audiotracks": y,
	"videotracks": y,
	"contentsecuritypolicy2": n,
	"permissions-api": n,
	"http2": y,
	"font-kerning": n,
	"jpeg2000": n,
	"upgradeinsecurerequests": n,
	"publickeypinning": n,
	"input-email-tel-url": y,
	"fieldset-disabled": y,
	"font-variant-alternates": n,
	"form-attribute": n,
	"es5": y,
	"page-transition-events": y,
	"ogg-vorbis": n,
	"meter": y,
	"progress": y,
	"css-filter-function": n,
	"css-element-function": n,
	"u2f": n,
	"aac": y,
	"link-rel-prefetch": y,
	"ol-reversed": n,
	"css-first-letter": y,
	"wbr-element": y,
	"const": y,
	"css-all": n,
	"css-initial-value": y,
	"css-letter-spacing": y,
	"css-unset-value": y,
	"insertadjacenthtml": y,
	"let": y,
	"arrow-functions": y,
	"asmjs": y,
	"lazyload": y,
	"link-rel-dns-prefetch": y,
	"link-rel-prerender": y,
	"rest-parameters": y,
	"css-cross-fade": n,
	"css-writing-mode": y,
	"customevent": y,
	"textcontent": y,
	"addeventlistener": y,
	"dispatchevent": y,
	"documenthead": y,
	"innertext": y,
	"client-hints-dpr-width-viewport": n,
	"link-rel-preconnect": n,
	"netinfo": n,
	"setimmediate": y,
	"es6-number": y,
	"maxlength": y,
	"proxy": y,
	"keyboardevent-which": y,
	"keyboardevent-charcode": y,
	"keyboardevent-code": n,
	"keyboardevent-location": y,
	"keyboardevent-getmodifierstate": y,
	"keyboardevent-key": y,
	"brotli": n,
	"element-closest": n,
	"input-event": y,
	"input-search": y,
	"css-motion-paths": n,
	"css-scroll-behavior": n,
	"subresource-integrity": n,
	"custom-elementsv1": p,
	"css-in-out-of-range": a,
	"push-api": n,
	"template-literals": y,
	"flac": n,
	"background-position-x-y": y,
	"css-revert-value": n,
	"css-widows-orphans": y,
	"web-bluetooth": n,
	"scrollintoview": a,
	"css-nth-child-of": n,
	"focusin-focusout-events": y,
	"css-matches-pseudo": n,
	"rel-noopener": n,
	"css-text-justify": a,
	"css-scrollbar": n,
	"link-rel-preload": n,
	"css-case-insensitive": n,
	"css-default-pseudo": n,
	"css-optional-pseudo": y,
	"css-indeterminate-pseudo": a,
	"webgl2": n,
	"css-initial-letter": n,
	"document-currentscript": y,
	"css-descendant-gtgt": n,
	"same-site-cookie-attribute": n,
	"css-has": n,
	"css-not-sel-list": n,
	"credential-management": n,
	"css-dir-pseudo": n,
	"css-focus-within": n,
	"dom-manip-convenience": n,
	"requestidlecallback": n,
	"scrollintoviewifneeded": n,
	"css3-attr": n,
	"sdch": n,
	"css-containment": n,
	"tls1-2": y,
	"tls1-1": y,
	"input-inputmode": n,
	"ch-unit": y,
	"img-naturalwidth-naturalheight": y,
	"filereadersync": y,
	"mediarecorder": n,
	"readonly-attr": y,
	"x-frame-options": y,
	"indeterminate-checkbox": y,
	"tabindex-attr": y,
	"textencoder": n,
	"element-from-point": y,
	"insert-adjacent": y,
	"once-event-listener": n,
	"passive-event-listener": n,
	"selection-api": y,
	"payment-request": n,
	"shadowdomv1": n,
	"urlsearchparams": n,
	"css-font-rendering-controls": n,
	"wasm": n,
	"css-paged-media": a,
	"childnode-remove": y,
	"css-first-line": y,
	"mutation-events": a,
	"web-app-manifest": n,
	"comparedocumentposition": y,
	"http-live-streaming": y,
	"es6-module": n,
	"es6-class": y,
	"ping": n,
	"form-submit-attributes": y,
	"async-functions": n,
	"html-media-capture": n,
	"css-text-indent": a,
	"intersectionobserver": n,
	"css-marker-pseudo": n,
	"url": y,
	"flow-root": n,
	"css-rrggbbaa": n,
	"beforeafterprint": y,
	"webvr": n,
	"css-apply-rule": n,
	"css-hanging-punctuation": n,
	"background-repeat-round-space": y,
	"document-evaluate-xpath": y,
	"css-namespaces": y,
	"css-overflow-anchor": n,
	"hardwareconcurrency": n,
	"css-rebeccapurple": y
);

@import "bumbleberry-settings";
@import "../admin";
