= sortable @conference.conference_registration_form_fields, 'registration_form_field_id', url: 'form/reorder' do |form_field|
	- ff = RegistrationFormField.find(form_field.registration_form_field_id)
	%span.drag-sort='[drag]'
	= ff.title
	%a.remove-form-field.button{:data => {:id => ff.id}}
		= _ 'registration_form_field.list.remove_from_form'
