%ul
	- @registration_form_fields.each do |registration_form_field|
		%li
			= registration_form_field.title
			%a.add-form-field.button{:data => {:id => registration_form_field.id}}
				= _ 'registration_form_field.list.add_to_form'
