$bumbleberry-no-markup: true;

@import "bumbleberry";
@import "settings";

@include monospace-font;

.translation-list {
	list-style: none;
	padding: 0;
	text-align: center;
	@include clearfix;

	li {
		display: inline-block;
		float: left;
		width: 25%;
		padding: 1em;
	}

	a {
		display: block;
		position: relative;
		height: 7em;
		border: 0.1em solid #DDD;
		color: inherit;
		overflow: hidden;
		@include _(border-radius, 0.25em);
		@include default-box-shadow(top, 2);
		@include _(transform, scale(1));
		@include _(transition, transform 100ms ease-in-out);

		&:hover,
		&:focus {
			@include _(transform, scale(1.125));
		}
		&:active {
			@include _(transform, scale(1.25));
		}

		&:after {
			display: none;
		}
	}
	.locale-name {
		font-size: 1.25em;
		padding: 0.5em 0;
		background-color: $colour-2;
		color: #EEE;
		@include font-family(secondary);
	}
	
	.locale-completion {
		font-size: 2em;
		@include font-family(monospace);
		letter-spacing: -0.15em;
	}

	&.enabled-translations {
		.locale-name {
			background-color: $colour-5;
		}
	}
}

#lingua-franca-translation-form {
	padding: rems(1) 7.5%;
	background-color: #FFF;
	@include default-box-shadow(bottom, 2);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFF;
	z-index: 1;
	max-width: 100%;

	button[type="submit"] {
		position: absolute;
		right: 7.5%;
		top: 1em;
		@include _(opacity, 1);
		@include _(transition, opacity 250ms ease-in-out);

		&:disabled {
			cursor: default;
			@include _(opacity, 0);
		}
	}
}

#lingua-franca-translation-form h2,
#translation-value,
.variables button {
	@include font-family(monospace);
}

#translation-value {
	border: 1px solid #CCC;
	outline: none;
	padding: 1em 1.75em;
	color: $colour-3;
	background-color: #333;
	position: relative;

	input {
		border: 0;
		background-color: transparent;
		padding: 0;
		margin: 0;
		font-weight: bold;
		color: $colour-1;

		&.special {
			color: $colour-4;
		}
	}
}

#translation-control-variables {
	background-color: #CCC;
	padding: 0.25em;
	min-height: 2.9em;

	strong {
		float: left;
		padding: 0.25em 0.5em;
	}

	.variables {
		font-weight: bold;

		em {
			line-height: 1.75em;
		}

		button {
			top: auto;
			right: auto;
			position: relative;
			border-radius: 0.25em;
			font-size: 0.65em;
			margin-bottom: 1em;
			vertical-align: sub;

			&.special {
				background-color: $colour-4;
			}
		}
	}
}

#lingua-franca-translation-form .enable-translation {
	display: none;
}

#lingua-franca-translation-form.optional .enable-translation {
	display: block;
}

#lingua-franca-translation-form.optional.enabled .uses-default-value {
	display: none;
}

#lingua-franca-translation-form.optional.disabled .uses-custom-value,
#lingua-franca-translation-form.optional.disabled .translation-control {
	display: none;
}

#lingua-franca-keys {
	width: 100%;
	overflow: hidden;
	margin-bottom: 100%;

	th {
		text-align: left;

		&, td {
			@include font-family(monospace);
		}
	}

	td a {
		color: inherit;
		@include _(opacity, 0.85);
	}

	.variable {
		color: $colour-1;
		font-weight: bold;

		&.special {
			color: $colour-4;
		}
	}

	.parent-keys span {
		color: transparent;
		width: 1em;
		display: inline-block;
	}

	a {
		display: block;

		&:after {
			display: none;
		}
	}

	tr.selectable-key:hover {
		background-color: $colour-1;

		a {
			color: #FFF;

			.variable {
				color: inherit;
			}
		}
	}

	.lingua-franca-value {
		display: none;
	}
}

@include breakpoint(medium) {
	#lingua-franca-keys {
		.lingua-franca-value {
			display: table-cell;
		}
	}
}

@include breakpoint(large) {
	body.fixed-banner #main {
		padding-top: rems(24);
	}

	#lingua-franca-keys {
		margin-bottom: 0;
	}

	#lingua-franca-translation-form {
		position: relative;
		padding: 1rem 7.5%;
		background-color: #FFF;
		@include default-box-shadow(top, 2);
	}
}

.lingua-franca-translations {
	position: relative;
	@include default-box-shadow(top, 2);
}

.lingua-franca-translations .translation-examples {
	//width: 100%;
	padding: 0 7.5%;
	z-index: 1;
	background-color: $white;
	padding-bottom: 0.5vh;
}

html #lingua-franca-translation-form {
	@include _(box-shadow, none);
}

.lingua-franca-translations .translation-examples ul {
	list-style: none;
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	height: 6vh;
	padding-top: 0.25em;
	z-index: 1;
	margin: 0;
}

.lingua-franca-translations .translation-examples li {
	display: inline-block;
	position: relative;
	width: 5vw;
	height: 5vh;
	margin: 0 0.5em;

	@include after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
		outline: 0.25em solid rgba($colour-2, 0.25);
		background-color: rgba($colour-2, 0.25);
		outline-color: rgba($colour-2, 0.25);
		@include _(transition, '#{background-color, outline-color 250ms, 250ms ease-in-out, ease-in-out}');
	}

	iframe {
		@include _(transform, scale(0.05) translate(-950vw, -950vh));
		width: 100vw;
		height: 100vh;
		@include _(transform-origin, 50% 50%);
		//@include _(transition, '#{transform, position, z-index 250ms, 250ms, 0 ease-in-out, ease-in-out, linear 0, 250ms, 0}');
		position: fixed;
		margin: auto
	}

	&:hover {
		@include after {
			background-color: rgba($colour-3, 0);
			outline-color: rgba($colour-3, 0.5);
		}
	}

	&.open {
		iframe {
			top: 0;
			left: 0;
			z-index: 100;
			//margin: auto;
			@include _(transform, scale(0.75) translate(0, 0));
			@include default-box-shadow(top, 2);
			
			@include breakpoint(large) {
				left: 8.75rem;
			}
		}

		@include after {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($colour-3, 0.5);
			position: fixed;
			z-index: 99;
		}
		
		/*@include before {
			content: '';
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			cursor: pointer;
		}*/
	}
}

.highlight-key {
    outline: 3rem solid rgba($colour-2, 0.5);
}

#lingua-franca-translation-form button[type="submit"] {
    margin-right: 0.25em;
}

.translation-history .translation-diff-info,
.translation-history .diff ul {
    list-style: none;
    padding: 0;
}

.translation-history .translation-diff-info li {
    margin-bottom: 0.5em;
    font-style: italic;
}

.translation-history .translation-diff-info li,
.translation-history .diff li {
    width: 50%;
    display: inline-block;
    float: left;
}

#lingua-franca-keys td a .undefined {
	font-style: italic;
	color: #888;
}
