/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@font-face {
	font-family: 'alte_haas_groteskbold';
	src: url('/assets/ahg.eot');
	src: url('/assets/ahg.eot?#iefix') format('embedded-opentype'),
		 url('/assets/ahg.woff') format('woff'),
		 url('/assets/ahg.ttf') format('truetype'),
		 url('/assets/ahg.svg#alte_haas_groteskbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Libraries
@import "compass";
@import "foundation_and_overrides";

// Local settings (also edit foundation_and_overrides.scss to modify global variables)
@import "sass/mixins";
@import "sass/layout";
@import "sass/typography";
@import "sass/base";

#mfPreviewBarShow, #mfPreviewBar { display: none; }