- title _'page.Organizations'
- description 'Bike!Bike! list of DIY bicycle collectives, co-ops, coops, community bike projects, advocacy by country, state, provice, and city'
- banner_image '/assets/orgs.jpg'
- page_style :list
- content_for :banner do
	.row
		.columns
			%h1=_'page.Organizations'

- @organizations.sort_by{|k,v|k}.each do |country,territories|
	%h2=country
	- territories.sort_by{|k,v|k.to_s}.each do |territory,cities|
		- if territory.is_a? String
			%h3=territory
		- cities.sort_by{|k,v|k}.each do |city,organizations|
			%ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.org-list.preview-list
				%li.city
					%figure{:style => "background-image: url('" + static_map(CGI::escape(city+' '+country), 4, 600, 300) + "');"}
						%h4=city
					- organizations.each do |organization|
						%li=render 'preview', :organization => organization
