- page_style :list
- title _'page.Organizations'
- banner_image '/assets/orgs.jpg'
- content_for :banner do
	.row
		.columns
			%h1=_'page.Organizations'

- @organizations.sort_by{|k,v|k}.each do |country,territories|
	%h2=country
	- territories.sort_by{|k,v|k}.each do |territory,cities|
		- if territory.is_a? String
			%h3=territory
		- cities.sort_by{|k,v|k}.each do |city,organizations|
			%ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.org-list.preview-list
				- uri = CGI::escape(city+' '+country)
				%li.city
					%figure{:style => "background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=#{uri}&zoom=4&size=600x300&maptype=roadmap&markers=size:small%7C#{uri}&key=AIzaSyDhfT68lGTwJHoUfC02fmA1SYNexO19J3M');"}
						%h4=city
					- organizations.each do |organization|
						%li=render 'preview', :organization => organization
