- banner_image @organization.cover_url
- page_style 'article'
- content_for :banner do
	.row{:class => (@organization.avatar.is_landscape? ? 'landscape' : 'portrait')}
		.columns{:class => (@organization.avatar.is_landscape? ? nil : ['medium-6', 'medium-push-6'])}
			%figure
				= image_tag(@organization.avatar.url)
		.columns.info{:class => (@organization.avatar.is_landscape? ? nil : ['medium-6', 'medium-pull-6'])}
			%h1=@organization.name
			- territory = Carmen::Country.coded(@organization.locations[0].country).subregions.coded(@organization.locations[0].territory)
			%h2=@organization.locations[0].city + (territory ? ' ' + territory.name : '') + ', ' + Carmen::Country.coded(@organization.locations[0].country).name

%p#notice= notice

= tabs!

%article.row
	.columns.large-10
		%h2=('About '+@organization.name)
		=p @organization, :info
