- page_title = _'error.404.page_title.This_Page_Does_Not_Exist'
- title page_title
- banner_title page_title

.row
	%h1
		=_'error.404.title','This page does not exist!'
	%p
		=_'error.404.description', :p