- content_for :banner do
	- image = image_url(@banner_image || 'empty-racks.jpg')
	#header-title.short{style: capable_of(:svg) ? nil : "background-image: url(#{image})"}
		- if capable_of(:svg)
			= render 'application/banner_image.svg', {:image => image}
		%h1=_(@page_title || 'page_titles.404.Page_Not_Found')

= row do
	= columns(medium: 12) do
		%h1
			=_'error.404.title','This page does not exist!'
		%p
			=_'error.404.description', :p