- @page_title = 'page_titles.404.Page_Not_Found' unless @page_title.present?

= render :partial => 'application/header', :locals => {:image_file => nil}
= row do
	= columns(medium: 12) do
		%h1
			=_'error.404.title','This page does not exist!'
		%p
			=p(_'error.404.description', :p)