= row do
	= columns(medium: 12) do
		%h2=_'articles.permission_denied.headings.confirmation_sent','Confirmation Sent'
	= columns(medium: 6) do
		%p=_'articles.permission_denied.paragraphs.confirmation_sent', :p
