.policy-agreement
	- if @is_policy_page
		%h2=_'articles.policy.headings.The_Agreement'
	- else
		%h3=_'articles.policy.headings.The_Agreement'
	%ul
		- [:commitment, :respect, :empowerment, :accessible, :peaceful, :spaces, :hearing, :intent, :open_minds, :learning].each do |term|
			%li=_"articles.policy.term.#{term.to_s}", :s, 2
	%h3=_'articles.policy.headings.Why','Why have a Safer Space Agreement?'
	%p=_'articles.policy.paragraphs.Why', :p
	%h3=_'articles.policy.headings.How','How is the policy enforced?'
	%p=_'articles.policy.paragraphs.How', :p
