- content_for :og_image do
  = (@conference.present? ? @conference.poster.full.url : nil) || image_path('default_poster.jpg')
- if @conferences.present?
  - @conferences.each do | conference |
    = render 'conferences/conference', conference: conference, links: [ :read_more, :register ]
