/*
 *	../application
 *	Browser: UC Browser for Android 9.9 (approximately 3.84% of all users)
 *
 */

$browser: and_uc;
$browser_prefix: webkit;
$browser_version: 9.9;
$browser_type: mobile;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": n,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": n,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": y,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": y,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": a,
	"css-mediaqueries": y,
	"multicolumn": ax,
	"border-radius": y,
	"transforms2d": yx,
	"use-strict": y,
	"transforms3d": yx,
	"sharedworkers": y,
	"css-hyphens": ax,
	"css-transitions": yx,
	"font-feature": yx,
	"css-animation": yx,
	"css-gradients": yx,
	"css-canvas": yx,
	"css-reflections": n,
	"css-masks": ax,
	"svg": y,
	"svg-css": y,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": n,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": p,
	"online-status": a,
	"eventsource": y,
	"x-doc-messaging": y,
	"datauri": y,
	"mathml": a,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": n,
	"geolocation": y,
	"flexbox": ax,
	"webgl": y,
	"fileapi": y,
	"shadowdom": n,
	"websockets": y,
	"hidden": y,
	"script-async": y,
	"cors": y,
	"calc": n,
	"ruby": a,
	"css-opacity": y,
	"form-validation": y,
	"history": a,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": y,
	"mpeg4": a,
	"ogv": y,
	"wordwrap": a,
	"progressmeter": y,
	"object-fit": n,
	"xhr2": y,
	"minmaxwh": y,
	"details": y,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": yx,
	"svg-img": y,
	"datalist": y,
	"dataset": y,
	"css-grid": n,
	"menu": n,
	"rem": y,
	"ttf": y,
	"touch": y,
	"matchesselector": ax,
	"pointer-events": y,
	"blobbuilder": ax,
	"filereader": y,
	"filesystem": n,
	"bloburls": yx,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": a,
	"script-defer": y,
	"nav-timing": y,
	"audio-api": n,
	"css-regions": yx,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"requestanimationframe": y,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": y,
	"input-color": a,
	"input-number": a,
	"iframe-sandbox": y,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": u,
	"css-repeating-gradients": yx,
	"css-filters": yx,
	"getcomputedstyle": y,
	"word-break": a,
	"viewport-units": n,
	"contentsecuritypolicy": yx,
	"pagevisibility": yx,
	"stricttransportsecurity": u,
	"style-scoped": y,
	"svg-fragment": n,
	"outline": y,
	"download": n,
	"pointer": p,
	"user-select-none": yx,
	"webp": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": n,
	"mutationobserver": yx,
	"css-selection": n,
	"css-placeholder": ax,
	"css-deviceadaptation": n,
	"text-emphasis": ax,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": y,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"web-speech": n,
	"high-resolution-time": y,
	"battery-status": a,
	"serviceworkers": n,
	"text-decoration": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": y,
	"iframe-seamless": y,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": yx,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": yx,
	"css-background-offsets": n,
	"css-supports-api": n,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": y,
	"font-loading": n,
	"font-unicode-range": a,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": y,
	"link-icon-svg": n,
	"css-media-resolution": ax,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": n,
	"object-observe": n,
	"broadcastchannel": n,
	"css-crisp-edges": ax,
	"css-text-align-last": n,
	"fetch": n,
	"background-attachment": a,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": n
);

@import "bumbleberry-settings";
@import "bumbleberry";
@import "../application";
