/*
 *	../application
 *	Browser: Opera Mobile 12.1 (approximately 0.02% of all users)
 *
 */

$browser: op_mob;
$browser_prefix: o;
$browser_version: 12.1;
$browser_type: mobile;

//	CSS Compatibility

$browser_capabilities: (
	"png-alpha": y,
	"apng": y,
	"video": y,
	"audio": y,
	"contenteditable": y,
	"dragndrop": y,
	"internationalization": n,
	"queryselector": y,
	"getelementsbyclassname": y,
	"forms": y,
	"html5semantic": y,
	"offline-apps": y,
	"webworkers": y,
	"fontface": y,
	"eot": n,
	"woff": y,
	"multibackgrounds": y,
	"border-image": ax,
	"background-img-opts": y,
	"css-table": y,
	"css-gencontent": y,
	"css-fixed": y,
	"hashchange": y,
	"css-sel2": y,
	"css-sel3": y,
	"css-textshadow": y,
	"css-boxshadow": y,
	"css3-colors": y,
	"css3-boxsizing": a,
	"css-mediaqueries": y,
	"multicolumn": y,
	"border-radius": y,
	"transforms2d": y,
	"use-strict": y,
	"transforms3d": n,
	"sharedworkers": y,
	"css-hyphens": n,
	"css-transitions": y,
	"font-feature": n,
	"css-animation": y,
	"css-gradients": y,
	"css-canvas": n,
	"css-reflections": n,
	"css-masks": n,
	"svg": y,
	"svg-css": a,
	"svg-smil": y,
	"svg-fonts": y,
	"svg-filters": y,
	"svg-html": a,
	"svg-html5": y,
	"canvas": y,
	"canvas-text": y,
	"namevalue-storage": y,
	"sql-storage": y,
	"indexeddb": p,
	"online-status": n,
	"eventsource": y,
	"x-doc-messaging": y,
	"datauri": y,
	"mathml": p,
	"css-featurequeries": n,
	"xhtml": y,
	"xhtmlsmil": p,
	"wai-aria": a,
	"geolocation": y,
	"flexbox": y,
	"webgl": a,
	"fileapi": y,
	"shadowdom": n,
	"websockets": y,
	"hidden": y,
	"script-async": n,
	"cors": y,
	"calc": n,
	"ruby": p,
	"css-opacity": y,
	"form-validation": y,
	"history": y,
	"json": y,
	"classlist": y,
	"text-overflow": y,
	"webm": n,
	"mpeg4": y,
	"ogv": n,
	"wordwrap": a,
	"progressmeter": y,
	"object-fit": yx,
	"xhr2": y,
	"minmaxwh": y,
	"details": p,
	"text-stroke": n,
	"inline-block": y,
	"notifications": n,
	"stream": y,
	"svg-img": y,
	"datalist": y,
	"dataset": y,
	"css-grid": n,
	"menu": n,
	"rem": y,
	"ttf": y,
	"touch": y,
	"matchesselector": ax,
	"pointer-events": n,
	"blobbuilder": y,
	"filereader": y,
	"filesystem": n,
	"bloburls": n,
	"rellist": n,
	"typedarrays": y,
	"deviceorientation": y,
	"script-defer": n,
	"nav-timing": n,
	"audio-api": n,
	"css-regions": n,
	"spellcheck-attribute": a,
	"fullscreen": n,
	"requestanimationframe": n,
	"input-range": y,
	"matchmedia": y,
	"input-datetime": y,
	"input-color": y,
	"input-number": y,
	"iframe-sandbox": n,
	"css-counters": y,
	"css-resize": n,
	"input-placeholder": y,
	"spdy": y,
	"css-repeating-gradients": y,
	"css-filters": n,
	"getcomputedstyle": y,
	"word-break": n,
	"viewport-units": n,
	"contentsecuritypolicy": n,
	"pagevisibility": y,
	"stricttransportsecurity": n,
	"style-scoped": u,
	"svg-fragment": y,
	"outline": y,
	"download": n,
	"pointer": p,
	"user-select-none": n,
	"webp": y,
	"intrinsic-width": n,
	"cryptography": p,
	"template": n,
	"opus": n,
	"jpegxr": n,
	"channel-messaging": y,
	"css3-tabsize": yx,
	"mutationobserver": n,
	"css-selection": y,
	"css-placeholder": n,
	"css-deviceadaptation": ax,
	"text-emphasis": n,
	"canvas-blending": n,
	"clipboard": n,
	"rtcpeerconnection": n,
	"css3-cursors": n,
	"css3-cursors-newer": n,
	"webvtt": n,
	"promises": p,
	"css-sticky": n,
	"dialog": n,
	"css-variables": n,
	"vibration": n,
	"css-backgroundblendmode": n,
	"css-mixblendmode": n,
	"web-speech": n,
	"high-resolution-time": n,
	"battery-status": n,
	"serviceworkers": n,
	"text-decoration": n,
	"speech-synthesis": n,
	"user-timing": n,
	"srcset": n,
	"ambient-light": n,
	"will-change": n,
	"css-shapes": n,
	"domcontentloaded": y,
	"proximity": n,
	"kerning-pairs-ligatures": n,
	"iframe-seamless": n,
	"css-image-orientation": n,
	"picture": n,
	"woff2": n,
	"text-size-adjust": n,
	"web-animation": n,
	"resource-timing": n,
	"custom-elements": n,
	"imports": n,
	"input-file-multiple": n,
	"atob-btoa": y,
	"css-appearance": n,
	"css-background-offsets": y,
	"css-supports-api": y,
	"css-touch-action": n,
	"autofocus": n,
	"css-clip-path": n,
	"getrandomvalues": n,
	"screen-orientation": n,
	"font-loading": n,
	"font-unicode-range": n,
	"gamepad": n,
	"css-font-stretch": n,
	"font-size-adjust": n,
	"link-icon-png": n,
	"link-icon-svg": n,
	"css-media-resolution": y,
	"xml-serializer": a,
	"css-image-set": n,
	"css-boxdecorationbreak": y,
	"object-observe": n,
	"broadcastchannel": n,
	"css-crisp-edges": yx,
	"css-text-align-last": n,
	"fetch": n,
	"background-attachment": y,
	"currentcolor": y,
	"input-pattern": y,
	"registerprotocolhandler": n,
	"css-snappoints": n
);

@import "bumbleberry-settings";
@import "bumbleberry";
@import "../application";
